In [1]:
import re
text = '''Data science is an interdisciplinary field that uses scientific methods, processes, 
algorithms and systems to extract knowledge and insights from noisy, structured and unstructured data,
and apply knowledge and actionable insights from data across a broad range of application domains.'''

matchlist = re.findall(r'\b[aeiou].*?\b',text)
print(matchlist)

['is', 'an', 'interdisciplinary', 'uses', 'algorithms', 'and', 'extract', 'and', 'insights', 'and', 'unstructured', 'and', 'apply', 'and', 'actionable', 'insights', 'across', 'a', 'of', 'application']

In [3]:
matchlist = re.findall(r'\b[aeiou]\w*',text)
print(matchlist)

['is', 'an', 'interdisciplinary', 'uses', 'algorithms', 'and', 'extract', 'and', 'insights', 'and', 'unstructured', 'and', 'apply', 'and', 'actionable', 'insights', 'across', 'a', 'of', 'application']

In [4]:
find= re.findall(r"\b[a|e|i|o|u|]+[\w]*",text)
print(find)

['is', 'an', 'interdisciplinary', 'uses', 'algorithms', 'and', 'extract', 'and', 'insights', 'and', 'unstructured', 'and', 'apply', 'and', 'actionable', 'insights', 'across', 'a', 'of', 'application']

## Pytesseract

In [ ]:
# pip install pytesseract

In [ ]:
# pip install tesseract
# pip install pdf2image

In [2]:
import pytesseract
import pandas as pd
import re

In [19]:
pytesseract.pytesseract.tesseract_cmd = r'C:\Program Files\Tesseract-OCR\tesseract.exe'
text = pytesseract.image_to_string(r'G:\Velocity 20 NOV\salary.jpg')
print(text)

INTERGLOBE AVIATION LIMITED
124, JANPATH, CENTRAL WING GROUND FLOOR,
THAPAR HOUSE, DELHI - 110001
DELHI
PAY SLIP FOR THE MONTH OF APRIL 2020

PAN

EPF No.
MONTH DAYS
PAID DAYS



DMPPB0331F
DL/31297/233140
30.00

30.00

EMP CODE

EMP NAME

DATE OF JOINING
BANK

BANK A/C. NO.
COST CENTER
LOCATION
DEPARTMENT

IGA39441

AKSHAY IRANNA BASGUNDE
12 MAR 2019

HDFC BANK

50100270921114 (HDFC BANK)
DP0102

PUNE

AIRPORT OPERATIONS & CUSTOMER SERVICES

DESIGNATION : SECURITY OFFICER

PF UAN : 101434436993

PC EARNINGS rrr———C“‘SESNSC(N#RNNNN9. ©_—s—s ss ———DEDUCTIONS.—i——“‘(CSSCis
BASIC 5104.00 5104.00 5104.00] PROVIDENT FUND 1052.00

HRA 3062.00 3062.00 3062.00}ESI 111.00

SPECIAL ALLOWANCE 2162.00 2162.00 2162.00]PROFESSIONAL TAX 200.00

UNIFORM ALLOWANCE 1500.00 1500.00 1500.00} BENEVOLENT FUND 200.00

TRANSPORT ALLOWANCE 0.00 1364.00

EFFICIENCY BONUS 0.00 6000.00

MONTHLY BONUS 729.00 729.00

NIGHT SHIFT ALLOWANCE 0.00 800.00

NET PAY 19158.00 (NINETEEN THOUSAND ONE HUNDRED FIFTY EIGHT ONLY

INCOME TAX WORKSHEET FROM 01 APR 2020 - 31 MAR 2021
GROSS |EXEMPT|TAXABLE| DEDUCTION UNDER CHAPTER VI-A__|, ~—SOTHER CALCULATIONS

61248.00 0.00) 61248.00 | INVESTMENTS U/S 80C
36744.00 0.00 | 36744.00 | PROVIDENT FUND
25944.00 0.00

DESCRIPTION
BASIC
HRA
SPECIAL ALLOWANCE
UNIFORM ALLOWANCE
TRANSPORT ALLOWANCE
EFFICIENCY BONUS
MONTHLY BONUS
NIGHT SHIFT ALLOWANCE

12623.00 | FROM

TO

24499.00
0.00

0.00
36744.00

2. 40% OR 50% OF BASIC
3. RENT - 10% BASIC
LEAST OF ABOVE IS EXEMPT,

800.00 TAXABLE HRA

TDS DEDUCTED MONTHLY
MONTH

APRIL-2020

TAX DEDUCTED ON PERQ.
TOTAL

AMOUNT

158848.00 |18000.00 |140848.00 | TOTAL OF INVESTMENTS U/S 80C

[DEDUCTIONS CdS

50000.00 | POTAL OF DED UNDER CHAPTER VI-A)12623.00

0.00
0.00

STANDARD DEDUCTION
PREVIOUS EMPLOYER TAXABLE INCOME
PREVIOUS EMPLOYER PROFESSIONAL TAX

PROFESSIONAL TAX
UNDER CHAPTER VI-A
ANY OTHER INCOME
TAXABLE INCOME

2500.00
12623.00
0.00
75725.00

MAXIMUM TAX SLAB %

TOTAL TAX

TAX REBATE U/S 87A

SURCHARGE

TAX DUE

HEALTH AND EDUCATION CESS

NET TAX

TAX DEDUCTED (PREVIOUS EMPLOYER)
TAX DEDUCTED ON PERQ.

TAX DEDUCTED ON ANY OTHER INCOME.
TAX DEDUCTED TILL DATE

TAX TO BE DEDUCTED

TAX/MONTH

TAX ON NON-RECURRING EARNINGS
TAX DEDUCTION FOR THIS MONTH

|
RENT PAID

In [20]:
import re

result = re.sub('\n+','\n',text)
print(result)

INTERGLOBE AVIATION LIMITED
124, JANPATH, CENTRAL WING GROUND FLOOR,
THAPAR HOUSE, DELHI - 110001
DELHI
PAY SLIP FOR THE MONTH OF APRIL 2020
PAN
EPF No.
MONTH DAYS
PAID DAYS

DMPPB0331F
DL/31297/233140
30.00
30.00
EMP CODE
EMP NAME
DATE OF JOINING
BANK
BANK A/C. NO.
COST CENTER
LOCATION
DEPARTMENT
IGA39441
AKSHAY IRANNA BASGUNDE
12 MAR 2019
HDFC BANK
50100270921114 (HDFC BANK)
DP0102
PUNE
AIRPORT OPERATIONS & CUSTOMER SERVICES
DESIGNATION : SECURITY OFFICER
PF UAN : 101434436993
PC EARNINGS rrr———C“‘SESNSC(N#RNNNN9. ©_—s—s ss ———DEDUCTIONS.—i——“‘(CSSCis
BASIC 5104.00 5104.00 5104.00] PROVIDENT FUND 1052.00
HRA 3062.00 3062.00 3062.00}ESI 111.00
SPECIAL ALLOWANCE 2162.00 2162.00 2162.00]PROFESSIONAL TAX 200.00
UNIFORM ALLOWANCE 1500.00 1500.00 1500.00} BENEVOLENT FUND 200.00
TRANSPORT ALLOWANCE 0.00 1364.00
EFFICIENCY BONUS 0.00 6000.00
MONTHLY BONUS 729.00 729.00
NIGHT SHIFT ALLOWANCE 0.00 800.00
NET PAY 19158.00 (NINETEEN THOUSAND ONE HUNDRED FIFTY EIGHT ONLY
INCOME TAX WORKSHEET FROM 01 APR 2020 - 31 MAR 2021
GROSS |EXEMPT|TAXABLE| DEDUCTION UNDER CHAPTER VI-A__|, ~—SOTHER CALCULATIONS
61248.00 0.00) 61248.00 | INVESTMENTS U/S 80C
36744.00 0.00 | 36744.00 | PROVIDENT FUND
25944.00 0.00
DESCRIPTION
BASIC
HRA
SPECIAL ALLOWANCE
UNIFORM ALLOWANCE
TRANSPORT ALLOWANCE
EFFICIENCY BONUS
MONTHLY BONUS
NIGHT SHIFT ALLOWANCE
12623.00 | FROM
TO
24499.00
0.00
0.00
36744.00
2. 40% OR 50% OF BASIC
3. RENT - 10% BASIC
LEAST OF ABOVE IS EXEMPT,
800.00 TAXABLE HRA
TDS DEDUCTED MONTHLY
MONTH
APRIL-2020
TAX DEDUCTED ON PERQ.
TOTAL
AMOUNT
158848.00 |18000.00 |140848.00 | TOTAL OF INVESTMENTS U/S 80C
[DEDUCTIONS CdS
50000.00 | POTAL OF DED UNDER CHAPTER VI-A)12623.00
0.00
0.00
STANDARD DEDUCTION
PREVIOUS EMPLOYER TAXABLE INCOME
PREVIOUS EMPLOYER PROFESSIONAL TAX
PROFESSIONAL TAX
UNDER CHAPTER VI-A
ANY OTHER INCOME
TAXABLE INCOME
2500.00
12623.00
0.00
75725.00
MAXIMUM TAX SLAB %
TOTAL TAX
TAX REBATE U/S 87A
SURCHARGE
TAX DUE
HEALTH AND EDUCATION CESS
NET TAX
TAX DEDUCTED (PREVIOUS EMPLOYER)
TAX DEDUCTED ON PERQ.
TAX DEDUCTED ON ANY OTHER INCOME.
TAX DEDUCTED TILL DATE
TAX TO BE DEDUCTED
TAX/MONTH
TAX ON NON-RECURRING EARNINGS
TAX DEDUCTION FOR THIS MONTH
|
RENT PAID

In [21]:
text_list = text.split('\n')
text = [line for line in text_list if re.sub('[^A-z0-9/.]+', ' ',line.strip())]
text = '\n'.join(text)
print(text)

INTERGLOBE AVIATION LIMITED
124, JANPATH, CENTRAL WING GROUND FLOOR,
THAPAR HOUSE, DELHI - 110001
DELHI
PAY SLIP FOR THE MONTH OF APRIL 2020
PAN
EPF No.
MONTH DAYS
PAID DAYS
DMPPB0331F
DL/31297/233140
30.00
30.00
EMP CODE
EMP NAME
DATE OF JOINING
BANK
BANK A/C. NO.
COST CENTER
LOCATION
DEPARTMENT
IGA39441
AKSHAY IRANNA BASGUNDE
12 MAR 2019
HDFC BANK
50100270921114 (HDFC BANK)
DP0102
PUNE
AIRPORT OPERATIONS & CUSTOMER SERVICES
DESIGNATION : SECURITY OFFICER
PF UAN : 101434436993
PC EARNINGS rrr———C“‘SESNSC(N#RNNNN9. ©_—s—s ss ———DEDUCTIONS.—i——“‘(CSSCis
BASIC 5104.00 5104.00 5104.00] PROVIDENT FUND 1052.00
HRA 3062.00 3062.00 3062.00}ESI 111.00
SPECIAL ALLOWANCE 2162.00 2162.00 2162.00]PROFESSIONAL TAX 200.00
UNIFORM ALLOWANCE 1500.00 1500.00 1500.00} BENEVOLENT FUND 200.00
TRANSPORT ALLOWANCE 0.00 1364.00
EFFICIENCY BONUS 0.00 6000.00
MONTHLY BONUS 729.00 729.00
NIGHT SHIFT ALLOWANCE 0.00 800.00
NET PAY 19158.00 (NINETEEN THOUSAND ONE HUNDRED FIFTY EIGHT ONLY
INCOME TAX WORKSHEET FROM 01 APR 2020 - 31 MAR 2021
GROSS |EXEMPT|TAXABLE| DEDUCTION UNDER CHAPTER VI-A__|, ~—SOTHER CALCULATIONS
61248.00 0.00) 61248.00 | INVESTMENTS U/S 80C
36744.00 0.00 | 36744.00 | PROVIDENT FUND
25944.00 0.00
DESCRIPTION
BASIC
HRA
SPECIAL ALLOWANCE
UNIFORM ALLOWANCE
TRANSPORT ALLOWANCE
EFFICIENCY BONUS
MONTHLY BONUS
NIGHT SHIFT ALLOWANCE
12623.00 | FROM
TO
24499.00
0.00
0.00
36744.00
2. 40% OR 50% OF BASIC
3. RENT - 10% BASIC
LEAST OF ABOVE IS EXEMPT,
800.00 TAXABLE HRA
TDS DEDUCTED MONTHLY
MONTH
APRIL-2020
TAX DEDUCTED ON PERQ.
TOTAL
AMOUNT
158848.00 |18000.00 |140848.00 | TOTAL OF INVESTMENTS U/S 80C
[DEDUCTIONS CdS
50000.00 | POTAL OF DED UNDER CHAPTER VI-A)12623.00
0.00
0.00
STANDARD DEDUCTION
PREVIOUS EMPLOYER TAXABLE INCOME
PREVIOUS EMPLOYER PROFESSIONAL TAX
PROFESSIONAL TAX
UNDER CHAPTER VI-A
ANY OTHER INCOME
TAXABLE INCOME
2500.00
12623.00
0.00
75725.00
MAXIMUM TAX SLAB %
TOTAL TAX
TAX REBATE U/S 87A
SURCHARGE
TAX DUE
HEALTH AND EDUCATION CESS
NET TAX
TAX DEDUCTED (PREVIOUS EMPLOYER)
TAX DEDUCTED ON PERQ.
TAX DEDUCTED ON ANY OTHER INCOME.
TAX DEDUCTED TILL DATE
TAX TO BE DEDUCTED
TAX/MONTH
TAX ON NON-RECURRING EARNINGS
TAX DEDUCTION FOR THIS MONTH
|
RENT PAID

In [22]:
pytesseract.pytesseract.tesseract_cmd = r'C:\Program Files\Tesseract-OCR\tesseract.exe'
text = pytesseract.image_to_string(r'G:\Velocity 20 NOV\aishwarya passport.jpg')
print(text)

\cmaiteotection.thogspt.com
@ ‘

area SRG REPUBLIC OF INDIA

Teak Pamper No

F 7802033

ace ies
P
Fares umane
RAT
“Ted ned sete Given Hames
ATSHWARYA
~eadiaee Mlavonslity ie es waited Date at Dem
INDIAN Fo 04/11/1973 _
“aon came Piece of tert =
MANGALORE KARNATAKA
“Sell weer wei cmon Pines al leas =.
MUMBAI
Ra ween A Te Tie et enue wat ali Bee Mane of Expiry

“02/05/2006 01/05/2016



=

cs

PINDRAI<<A I SHWARYAKKK << << KK KK KKK KKK KKK KKK KE
F7802033<O1ND7311017F 160501 1<<<<<<<<ccccecdd

In [3]:
pytesseract.pytesseract.tesseract_cmd = r'C:\Program Files\Tesseract-OCR\tesseract.exe'
text = pytesseract.image_to_string(r'G:\Velocity 20 NOV\passportblackandwhite.jpg')
print(text)

T1762166

BANGALE

CHETAN SHRIKRISHNA



M

PATHANKOT, PUNJAB



PUNE



08/02/2019 G7 7022029

P<INDBANGALE<<CHETAN<SHRIKRISHNA<<<<<<<<<<K<<
11762166<2INDI60B052M290207 2 << << << KK KKK KKK KK

In [25]:
text_list = text.split('\n')
text = [line for line in text_list if re.sub('[^A-z0-9/.]+', ' ',line.strip())]
text = '\n'.join(text)
print(text)

T1762166
BANGALE
CHETAN SHRIKRISHNA
M
PATHANKOT, PUNJAB
PUNE
08/02/2019 G7 7022029
P<INDBANGALE<<CHETAN<SHRIKRISHNA<<<<<<<<<<K<<
11762166<2INDI60B052M290207 2 << << << KK KKK KKK KK

In [4]:
def get_passport(text):
    new_text = text.split('\n')
    
    passport_number = re.search('[A-Z]{1}\d{7}',text)
    date_of_issue = re.search('\d{2}[/]\d{2}[/]\d{4}',text)
    
    for i,line in enumerate(new_text):
        if re.findall('<<<',line):
#             print(i,line)
            current_city = new_text[i-2]
            birth_place = new_text[i-3]
#             print(birth_place)
    passport_attributes = {'Passport Number':[passport_number.group()],'Date of Issue':[date_of_issue.group()],
                          'Current City':[current_city], 'Place of Birth': [birth_place]}
        
    return passport_attributes
#     return date_of_issue.group()

passport_attributes = get_passport(text)
print(passport_attributes)
df = pd.DataFrame(passport_attributes)
df.to_csv('Chetan_passport.csv')
df.to_excel('Chetan_passport.xlsx')
df.to_json('Chetan_passport.json')
df.T

{'Passport Number': ['T1762166'], 'Date of Issue': ['08/02/2019'], 'Current City': ['08/02/2019 G7 7022029'], 'Place of Birth': ['']}

                                     0
Passport Number               T1762166
Date of Issue               08/02/2019
Current City     08/02/2019 G7 7022029
Place of Birth

In [7]:
pytesseract.pytesseract.tesseract_cmd = r'C:\Program Files\Tesseract-OCR\tesseract.exe'
text = pytesseract.image_to_string(r'G:\Velocity 20 NOV\new1.jpg')
print(text)

_HIRaA WRiva REPUBLIC OF INDIA

“ea/ Type ree ws /C Up Country y Code “arate 9. 7 Passport N No.

—IND_§. =y2908283



Saari / Surname





fSai tar ara/Given Name(s)

MOHAMMED MUDASEER |







wegiaen/ Nationality. + +‘fia/Sex wrifeiti/Dateof Birth
INDIAN M 04/04/1982 '
urea tara / Place of Birth
HYD E RABAD



“ward area wor vera / Place of issue

HYDERABAD

"99, Fees, = warfta at ff / Date of Expiry

2: So 10/02/2009 09/02/2019

P<IND<<MOHAMME D<MUDASEERK<<<<<<<<<<<<<<<<<<<<
H2908283<51ND8204044M1902097<<<<<<<<<<<<<<<8

“

In [8]:
text_list = text.split('\n')
text = [line for line in text_list if re.sub('[^A-z0-9/.]+', ' ',line.strip())]
text = '\n'.join(text)
print(text)

_HIRaA WRiva REPUBLIC OF INDIA
“ea/ Type ree ws /C Up Country y Code “arate 9. 7 Passport N No.
—IND_§. =y2908283
Saari / Surname
fSai tar ara/Given Name(s)
MOHAMMED MUDASEER |
wegiaen/ Nationality. + +‘fia/Sex wrifeiti/Dateof Birth
INDIAN M 04/04/1982 '
urea tara / Place of Birth
HYD E RABAD
“ward area wor vera / Place of issue
HYDERABAD
"99, Fees, = warfta at ff / Date of Expiry
2: So 10/02/2009 09/02/2019
P<IND<<MOHAMME D<MUDASEERK<<<<<<<<<<<<<<<<<<<<
H2908283<51ND8204044M1902097<<<<<<<<<<<<<<<8
“

In [11]:
def get_passport(text):
    new_text = text.split('\n')
    
    passport_number = re.search('[A-Z]{1}\d{7}',text)
    date_of_issue = re.search('\d{2}[/]\d{2}[/]\d{4}',text)
    
    for i,line in enumerate(new_text):
        if re.findall('<<<',line):
#             print(i,line)
            current_city = new_text[i-4]
            birth_place = new_text[i-6]
#             print(birth_place)
    passport_attributes = {'Passport Number':[passport_number.group()],'Date of Issue':[date_of_issue.group()],
                          'Current City':[current_city], 'Place of Birth': [birth_place]}
        
    return passport_attributes
#     return date_of_issue.group()

passport_attributes = get_passport(text)
print(passport_attributes)
df = pd.DataFrame(passport_attributes)
df.to_csv('mohmd_passport.csv')
df.to_excel('mohmd_passport.xlsx')
df.to_json('mohmd_passport.json')
df.T

{'Passport Number': ['H2908283'], 'Date of Issue': ['04/04/1982'], 'Current City': ['HYDERABAD'], 'Place of Birth': ['HYD E RABAD']}

                           0
Passport Number     H2908283
Date of Issue     04/04/1982
Current City       HYDERABAD
Place of Birth   HYD E RABAD

In [12]:
df

  Passport Number Date of Issue Current City Place of Birth
0        H2908283    04/04/1982    HYDERABAD    HYD E RABAD

In [ ]:
data engineer >> data gathering/ data extract/pre feature engineering/ fetching data from sql >>  backend
data scientist >> frontend+backend >> EDA (Exploratory Data Analysis) / data cleaning/ feature engineering/model building/API
Ml engineer >> midterian/ API
data analyst
associate ml engineer/data scientist/data engineer

In [ ]:
backend >> medeterian >> frontend

In [ ]:
1 yr exp >> same 
4 yr exp >> same

In [ ]:
http