### List Comprehension

In [5]:
num= [2,3,4,5,6]
sqlst=[]
for i in num:
    sqr=i**2
    sqlst.append(sqr)
    print(sqlst)

[4]
[4, 9]
[4, 9, 16]
[4, 9, 16, 25]
[4, 9, 16, 25, 36]

In [2]:
num= [2,3,4,5,6]
sqlst=[]
for i in num:
#     sqr=i**2
    sqlst.append(i**2)
    
print(sqlst)

[4, 9, 16, 25, 36]

In [6]:
sub_names = ['Phy' ,'Che','Math','Bio','Eng']
sub_upper=[]
for sub in sub_names:
    sub_upper.append(sub.upper())
    print(sub_upper)

['PHY']
['PHY', 'CHE']
['PHY', 'CHE', 'MATH']
['PHY', 'CHE', 'MATH', 'BIO']
['PHY', 'CHE', 'MATH', 'BIO', 'ENG']

In [9]:
# Cube of 1 to 10
cube_list=[]
for i in range(1,11):
    cube_list.append(i**3)
    print(cube_list)

[1]
[1, 8]
[1, 8, 27]
[1, 8, 27, 64]
[1, 8, 27, 64, 125]
[1, 8, 27, 64, 125, 216]
[1, 8, 27, 64, 125, 216, 343]
[1, 8, 27, 64, 125, 216, 343, 512]
[1, 8, 27, 64, 125, 216, 343, 512, 729]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [10]:
# square of 21 to 30
sqr_list=[]
for i in range(21,31):
    sqr_list.append(i**2)
    print(sqr_list)

[441]
[441, 484]
[441, 484, 529]
[441, 484, 529, 576]
[441, 484, 529, 576, 625]
[441, 484, 529, 576, 625, 676]
[441, 484, 529, 576, 625, 676, 729]
[441, 484, 529, 576, 625, 676, 729, 784]
[441, 484, 529, 576, 625, 676, 729, 784, 841]
[441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

In [11]:
# square of 11 to 20
sqr_list=[]
for i in range(11,21):
    if i%2==0:
        sqr_list.append(i**2)
        print(sqr_list)

[144]
[144, 196]
[144, 196, 256]
[144, 196, 256, 324]
[144, 196, 256, 324, 400]

In [13]:
# square of 11 to 20
even_list=[]
odd_list=[]
for i in range(11,21):
    if i%2==0:
        even_list.append(i**2)
        
    else:
        odd_list.append(i**2)
print(even_list)
print(odd_list)

[144, 196, 256, 324, 400]
[121, 169, 225, 289, 361]

In [ ]:
updated_list= [expression for i in list1 if condtion== True]

In [15]:
num=[1,2,3,4,5,6,7,8,9]
sqr_list=[i**2 for i in num]
sqr_list

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [16]:
num=[1,2,3,4,5,6,7,8,9]
sqr_list=[i**2 for i in num if i%2==0]
sqr_list

[4, 16, 36, 64]

In [17]:
sub_names = ['Phy' ,'Che','Math','Bio','Eng']
sub_upper=[]
for sub in sub_names:
    sub_upper.append(sub.upper())
    print(sub_upper)

['PHY']
['PHY', 'CHE']
['PHY', 'CHE', 'MATH']
['PHY', 'CHE', 'MATH', 'BIO']
['PHY', 'CHE', 'MATH', 'BIO', 'ENG']

In [18]:
sub_names = ['Phy' ,'Che','Math','Bio','Eng']
sub_upper=[sub.upper() for sub in sub_names]
sub_upper

['PHY', 'CHE', 'MATH', 'BIO', 'ENG']

In [19]:
num=[1,2,3,4,5,6,7,8,9]
odd_cb_list=[i**3 for i in num if i%2!=0]
odd_cb_list

[1, 27, 125, 343, 729]

### copy function

In [22]:
list1=[2,3,4,5,6]

list2=list1
list2.append(100)

print(list1)
print(list2)

[2, 3, 4, 5, 6, 100]
[2, 3, 4, 5, 6, 100]

In [23]:
list1=[2,3,4,5,6]

list2=list1.copy()
list2.append(100)

print(list1)
print(list2)

[2, 3, 4, 5, 6]
[2, 3, 4, 5, 6, 100]

In [24]:
list1=[2,3,4,5,6]

list2=list1
list1[2]=100

print(list1)
print(list2)

[2, 3, 100, 5, 6]
[2, 3, 100, 5, 6]

In [25]:
list1=[2,3,4,5,6]

list2=list1.copy() # shallow copy
list1[2]=100

print(list1)
print(list2)

[2, 3, 100, 5, 6]
[2, 3, 4, 5, 6]

### Nested List

In [26]:
list1= [[2,3],[3,4],[4,5],[5,6]]
list1[1][1]

4

In [27]:
list1= [[2,3],[3,4],[4,5],[5,6]]
for i in list1:
    print(i)

[2, 3]
[3, 4]
[4, 5]
[5, 6]

In [29]:
list1= [[2,3],[3,4],[4,5],[5,6]]
list1[1][1]='Python'
print(list1)

[[2, 3], [3, 'Python'], [4, 5], [5, 6]]

In [30]:
list1= [[2,3],[3,4],[4,5],[5,6]]

list2=list1.copy() # shallow copy
list1[1][1]='Python'

print(list1)
print(list2)

[[2, 3], [3, 'Python'], [4, 5], [5, 6]]
[[2, 3], [3, 'Python'], [4, 5], [5, 6]]

### deepcopy()

In [32]:
import copy
list1= [[2,3],[3,4],[4,5],[5,6]]
list2= copy.deepcopy(list1) # deep copy
print(list1)
print(list2)
print()
list1[1][1]='Python'

print(list1)
print(list2)

[[2, 3], [3, 4], [4, 5], [5, 6]]
[[2, 3], [3, 4], [4, 5], [5, 6]]

[[2, 3], [3, 'Python'], [4, 5], [5, 6]]
[[2, 3], [3, 4], [4, 5], [5, 6]]