# Data Types

In [ ]:
Numeric : int, float, complex
    
text : str

sequence : list , tuple, range
    
setDt: set, frozenset
    
mapping : dict(dictionary)[ key and pair values]
    
Boolean : bool (True & False)
    
Binary : bytes

### int Data Type

In [ ]:
Whole Numbers
+ve or -ve
without decimal numbers

In [13]:
x=10
type(x)

int

In [14]:
z=-10
type(z)

int

In [15]:
x=1000
type(x)

int

### Float Data Type

In [ ]:
+ve or -ve
with decimal numbers

In [16]:
fl_num=20.23
print('Data type of variable is :', type(fl_num))

Data type of variable is : <class 'float'>

In [17]:
fl_num=-20.23
print('Data type of variable is :', type(fl_num))

Data type of variable is : <class 'float'>

In [18]:
fl_num=1.0
print('Data type of variable is :', type(fl_num))

Data type of variable is : <class 'float'>

In [20]:
a=27
b=4
c=b/a
print(round(c, 3))

0.148

In [22]:
a=27
b=4
c=b/a
print(round(c, 8))

0.14814815

In [ ]:
shft + tab (docstring: which specify specs of that function)
shft + tab+tab

### Complex Data Type

In [ ]:
Contains Real and Imaginary Part
in imaginary part only (j) should be use

In [ ]:
var(a) = real(3) + imaginary(4j)

In [23]:
a=3+4j
type(a)

complex

In [26]:
a=3.5+4.5j
type(a)

complex

In [29]:
x= 3
type(x)

int

In [30]:
z = 4j
type(z)

complex

In [31]:
abs(10)

10

In [32]:
abs(10.1)

10.1

In [33]:
abs(-10)

10

## Python Casting

In [ ]:
change data type of variables
specify variable type

#### 1. int to float

In [36]:
num=20
print('actual data type is :', type(num))
num= float(num)
print('Updated type of num is :', type(num), num)

actual data type is : <class 'int'>
Updated type of num is : <class 'float'> 20.0

#### 2. float to int

In [53]:
num=10.84
print('actual data type is :', type(num))
num= int(num)
print('Updated type of num is :', type(num), num)

actual data type is : <class 'float'>
Updated type of num is : <class 'int'> 10

In [38]:
int(11.99)

11

In [41]:
round(11.9674,2)

11.97

#### 3. int to complex

In [43]:
a=88
print(f'Value of a is {a} and its data type is{type(a)}')

a=complex(a)
print(f'Value of a is {a} and its data type is{type(a)}')

Value of a is 88 and its data type is<class 'int'>
Value of a is (88+0j) and its data type is<class 'complex'>

In [44]:
a=7
print(f'Value of a is {a} and its data type is{type(a)}')

a=complex(a)
print(f'Value of a is {a} and its data type is{type(a)}')

Value of a is 7 and its data type is<class 'int'>
Value of a is (7+0j) and its data type is<class 'complex'>

#### 4.float to complex

In [47]:
x=7.8
print(f'Value of x is {x} and its data type is{type(x)}')

x=complex(x)
print(f'Value of x is {x} and its data type is{type(x)}')

Value of x is 7.8 and its data type is<class 'float'>
Value of x is (7.8+0j) and its data type is<class 'complex'>

In [48]:
x=877.49
print(f'Value of x is {x} and its data type is{type(x)}')

x=complex(x)
print(f'Value of x is {x} and its data type is{type(x)}')

Value of x is 877.49 and its data type is<class 'float'>
Value of x is (877.49+0j) and its data type is<class 'complex'>

#### 5. Complex to int

In [ ]:
complex to int or float is not possible

In [50]:
x=877.49+4j
print(f'Value of x is {x} and its data type is{type(x)}')

x=int(x)
print(f'Value of x is {x} and its data type is{type(x)}')

Value of x is (877.49+4j) and its data type is<class 'complex'>

TypeError: can't convert complex to int

In [51]:
x=877.49+4j
print(f'Value of x is {x} and its data type is{type(x)}')

x=float(x)
print(f'Value of x is {x} and its data type is{type(x)}')

Value of x is (877.49+4j) and its data type is<class 'complex'>

TypeError: can't convert complex to float