### fibonacci Series

In [ ]:
0 1 1 2 3 5 8 13 21 34 

n = 10
0 1 1 2 3 5 8 13 21 34

n=5 
0 1 1 2 3

In [3]:
n=10
n1=0
n2=1
print(n1)
print(n2)
for i in range(0,n-2):
    sum1=n1+n2
    n1=n2
    n2=sum1
    print(sum1)

0
1
1
2
3
5
8
13
21
34

In [ ]:
n1>>0 n2>>1 sum1
      n1>>n2 n2>>sum1 
            n1>>n2 n2>>sum1

In [7]:
n = 10
first= 0
second = 1
print(f'Fibonacci series for {n} is\n',first,second, end=' ')
for i in range(0,n-2):
    new = first + second
    first = second
    second = new
    print(new, end= ' ')

Fibonacci series for 10 is
 0 1 1 2 3 5 8 13 21 34

In [ ]:
*
**
***
****

In [ ]:
    *
   **
  ***
 ****
*****

In [9]:
n=5
for i in range(1,n+1):
    print(' '*(n-i) +'*'*i)

    *
   **
  ***
 ****
*****

In [10]:
a=10

for i in range(1,a+1):
    print(' '* a,end=" ")
    print(' *'*(i))
    a=a-1

            *
           * *
          * * *
         * * * *
        * * * * *
       * * * * * *
      * * * * * * *
     * * * * * * * *
    * * * * * * * * *
   * * * * * * * * * *

In [13]:
n=5
for i in range(1,n+1):
    print(' '*(n-i) +'*'*(i*2-1))

    *
   ***
  *****
 *******
*********

In [19]:
n=5
for i in range(1,n+1):
    print(' '*(n-i) +'*'*(i*2-1))

    *
   ***
  *****
 *******
*********

In [ ]:
****
****
****
****

In [20]:
for i in range(1,5):
    print('****')

****
****
****
****

In [24]:
for i in range(1,5):
    for j in range(1,5):
        print('*', end=' ')
    print()

* * * *
* * * *
* * * *
* * * *

In [31]:
n=5
for i in range(1,n+1):
    print('*'*i)
    
for i in range(n-1,0,-1):
    print('*'*i)

*
**
***
****
*****
****
***
**
*

In [37]:
for i in range(1,5):
    for j in range(i):
        print('*',end=' ')
    print()
    
for i in range(4-1,0,-1):
    for j in range(i):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * *
* *
*