## Nested For loop

In [ ]:
For loop inside For loop

In [11]:
for i in range(1,10):
    print('* '*i)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [23]:
for char in ('python'):
    print('char is',char)

char is p
char is y
char is t
char is h
char is o
char is n

In [29]:
for char in ('python'):
    print('char is',char)
    print('Main loop')
    for i in range(1,6): # 1 2 3 4 5
        print('Number is :',i)

char is p
Main loop
Number is : 1
Number is : 2
Number is : 3
Number is : 4
Number is : 5
char is y
Main loop
Number is : 1
Number is : 2
Number is : 3
Number is : 4
Number is : 5
char is t
Main loop
Number is : 1
Number is : 2
Number is : 3
Number is : 4
Number is : 5
char is h
Main loop
Number is : 1
Number is : 2
Number is : 3
Number is : 4
Number is : 5
char is o
Main loop
Number is : 1
Number is : 2
Number is : 3
Number is : 4
Number is : 5
char is n
Main loop
Number is : 1
Number is : 2
Number is : 3
Number is : 4
Number is : 5

In [33]:
for char in ('python'): # char p
    print('char is',char)
    for i in range(1,3):
        print("Number is :",i)
    print()

char is p
Number is : 1
Number is : 2

char is y
Number is : 1
Number is : 2

char is t
Number is : 1
Number is : 2

char is h
Number is : 1
Number is : 2

char is o
Number is : 1
Number is : 2

char is n
Number is : 1
Number is : 2

In [36]:
for char in ('python'): # char p
    print('char is',char)
    for i in range(1,3):
        print("Number is :",i)
        for j in range(2):
            print('Second loop val is :',j)
    print()

char is p
Number is : 1
Second loop val is : 0
Second loop val is : 1
Number is : 2
Second loop val is : 0
Second loop val is : 1

char is y
Number is : 1
Second loop val is : 0
Second loop val is : 1
Number is : 2
Second loop val is : 0
Second loop val is : 1

char is t
Number is : 1
Second loop val is : 0
Second loop val is : 1
Number is : 2
Second loop val is : 0
Second loop val is : 1

char is h
Number is : 1
Second loop val is : 0
Second loop val is : 1
Number is : 2
Second loop val is : 0
Second loop val is : 1

char is o
Number is : 1
Second loop val is : 0
Second loop val is : 1
Number is : 2
Second loop val is : 0
Second loop val is : 1

char is n
Number is : 1
Second loop val is : 0
Second loop val is : 1
Number is : 2
Second loop val is : 0
Second loop val is : 1