#### 2.pop()

In [ ]:
pop(index) #default it will remove last index

In [2]:
city_name = ['Pune','Mumbai','Mumbai','Delhi','Chennai']
a=city_name.pop(3)
city_name
a

'Delhi'

In [2]:
city_name = ['Pune','Mumbai','Mumbai','Delhi','Chennai']
city_name.pop(0)
city_name

['Mumbai', 'Mumbai', 'Delhi', 'Chennai']

In [3]:
num = [10,20,30,40]
num.pop(2)
num

[10, 20, 40]

#### 3. clear()

In [ ]:
It will remove all items from list, and returns null list

In [4]:
city_name = ['Pune','Mumbai','Mumbai','Delhi','Chennai']
city_name.clear()
city_name

[]

In [5]:
num = [10,20,30,40]
num.clear()
num

[]

#### 4. del

In [6]:
city_name = ['Pune','Mumbai','Mumbai','Delhi','Chennai']
city_name[1]

'Mumbai'

In [7]:
del city_name
print(city_name)

NameError: name 'city_name' is not defined

In [8]:
city_name = ['Pune','Mumbai','Mumbai','Delhi','Chennai']
del city_name[1]
print(city_name)

['Pune', 'Mumbai', 'Delhi', 'Chennai']

## Sorting

#### 1. Ascending Order

In [9]:
list1=[30,45,10,23,36]
list1.sort()
list1

[10, 23, 30, 36, 45]

In [10]:
subjects= ['Phy', 'Chem','Maths', 'Bio', 'Eng']
subjects.sort()
subjects

['Bio', 'Chem', 'Eng', 'Maths', 'Phy']

In [12]:
subjects= ['Phy', 1, 'Chem',2,'Maths',3, 'Bio', 'Eng']
subjects.sort()
subjects

TypeError: '<' not supported between instances of 'int' and 'str'

In [13]:
subjects= ['Phy', '1', 'Chem','2','Maths','3', 'Bio', 'Eng']
subjects.sort()
subjects

['1', '2', '3', 'Bio', 'Chem', 'Eng', 'Maths', 'Phy']

### 2. Descending Order

In [14]:
list1=[30,45,10,23,36]
list1.sort(reverse=False)
list1

[10, 23, 30, 36, 45]

In [15]:
list1=[30,45,10,23,36]
list1.sort(reverse=True)
list1

[45, 36, 30, 23, 10]

In [16]:
subjects= ['Phy', 'Chem','Maths', 'Bio', 'Eng']
subjects.sort(reverse=True)
subjects

['Phy', 'Maths', 'Eng', 'Chem', 'Bio']

In [22]:
list1=[30,45,10,23,36]
list2= sorted(list1)
print(list1)
print(list2)

[30, 45, 10, 23, 36]
[10, 23, 30, 36, 45]

In [26]:
list1=[30,45,10,23,36]
sorted(list1)
list1

[30, 45, 10, 23, 36]

In [27]:
list1=[30,45,10,23,36]
a=sorted(list1,reverse=True)
a

[45, 36, 30, 23, 10]

In [28]:
list1=[30,45,10,23,36,[45,48,12]]
list2= sorted(list1)
print(list1)
print(list2)

TypeError: '<' not supported between instances of 'list' and 'int'

### Reverse

In [29]:
list1 = [100,20,30,25,35]
list1.reverse()
list1

[35, 25, 30, 20, 100]

In [30]:
subjects= ['Phy', 'Chem','Maths', 'Bio', 'Eng']
subjects.reverse()
subjects

['Eng', 'Bio', 'Maths', 'Chem', 'Phy']

In [31]:
subjects= ['Phy', 'Chem','Maths', 'Bio', 'Eng']
subjects[::-1]

['Eng', 'Bio', 'Maths', 'Chem', 'Phy']

### Reversed

if using reversed function we have take it in list or else it will create object of list

In [42]:
name=['Chetan','Rahul','Sagar','Shubham']
new_names=reversed(name)
list(new_names)

['Shubham', 'Sagar', 'Rahul', 'Chetan']

In [44]:
name=['Chetan','Rahul','Sagar','Shubham']
new_names=list(reversed(name))
new_names

['Shubham', 'Sagar', 'Rahul', 'Chetan']

In [46]:
name=['Chetan','Rahul','Sagar','Shubham']
new_names=reversed(name)
print(new_names)

<list_reverseiterator object at 0x0000022AE16520D0>

### Functions

In [ ]:
1. Built in function
2. User defined function

In [ ]:
print()
reversed()
sorted()
len()
max()
int()
range()
list()
set()
dict()
tuple()

In [48]:
def my_function(): # defining a function
    print('Hello World')

my_function() # call function

Hello World

In [50]:
def sum_number(l1): # User Defined function
    sum1=0
    for i in l1:
        sum1+=i
    return sum1
    
l1=[3,4,5,6,7]

s1=sum_number(l1)
print(s1)

25

In [54]:
def sum_number(a): # User Defined function
    sum1=0
    for i in a:
        sum1+=i
    return sum1
    
l1=[3,4,5,6,7]

s1=sum_number(l1)  # calling function and storing in a varibale
print(s1)

25

In [ ]:
method = function

In [55]:
my_function()

Hello World

#### index()

In [56]:
name=['Chetan','Rahul','Sagar','Shubham']
name.index('Rahul')

1

In [57]:
name=['Chetan','Rahul','Sagar','Shubham']
name.index('Shubham')

3

In [58]:
name=['Chetan','Rahul','Sagar','Shubham']
if 'Chetan' in name:
    i =name.index('Chetan')
print(i)

0

### count()

In [59]:
subjects= ['Phy', 'Chem','Maths', 'Bio','Phy', 'Eng']
subjects.count('Phy')

2

In [60]:
subjects= ['Phy', 'Chem','Maths', 'Bio','Phy', 'Eng']
subjects.count('Chem')

1

In [61]:
subjects= ['Phy', 'Chem','Maths', 'Bio','Phy', 'Eng']
subjects.count('Che')

0

In [33]:
# name=['Chetan','Rahul','Sagar','Shubham']
list2 = ['chetan','rahul','sagar','shubham']
list1=[]
cnt = len(list2)-1
for i in range(len(list2)):
    if cnt >= 0:
        list1.append(list2[cnt])
    cnt= cnt -1
print(list1)

['shubham', 'sagar', 'rahul', 'chetan']

In [40]:
list1=["umesh","arti","shweta","naren","abhijeet"]
list2=[]
a=-1
for i in range(len(list1)):
    list2.append(list1[a])
    a-=1
print(list2)

['abhijeet', 'naren', 'shweta', 'arti', 'umesh']