### Short Hand If Statement

In [ ]:
if you have only one statement to execute then use short hand if statement

In [2]:
age= 60
salary=70000

if salary > 50000:
    print('Salary is greater than 50000')

Salary is greater than 50000

In [3]:
age= 60
salary=70000
if salary > 50000: print('Salary is greater than 50000')

Salary is greater than 50000

### Short Hand If Else Statement

In [4]:
salary=70000

if salary >50000:
    print('Salary is greater than 50000')
    
else:
    print('Salary is less than 50000')

Salary is greater than 50000

In [5]:
salary=40000

if salary >50000:
    print('Salary is greater than 50000')
    
else:
    print('Salary is less than 50000')

Salary is less than 50000

In [6]:
salary = 30000
print('Salary is greater than 50000') if salary >50000 else print('Salary is less than 50000')

Salary is less than 50000

In [7]:
salary = 60000
print('Salary is greater than 50000') if salary >50000 else print('Salary is less than 50000')

Salary is greater than 50000

### Arithmatic Operators

In [ ]:
+  >> Addition
-  >> Substraction
*  >> Multiplication
/  >> Division (float)
// >> Floar Division(int)
%  >> Modulus
** >> Exponent

In [8]:
10+5

15

In [9]:
10-5

5

In [10]:
10*5

50

In [40]:
14/5

2.8

In [41]:
12//5

2

In [13]:
10%5

0

In [14]:
12%5

2

In [15]:
2**3

8

In [16]:
3**2

9

In [17]:
'python'+'Class'

'pythonClass'

In [18]:
'python'*'Class'

TypeError: can't multiply sequence by non-int of type 'str'

In [19]:
'python'*3

'pythonpythonpython'

### To Check Even or Odd Numbers

In [21]:
a = input("Enter any Numbers: ")

even = 0
odd = 0

for i in a:
    if int(i) % 2 == 0:
        even +=1
    else :
        odd +=1
        
print('count of even is: ',even)
print('count of odd is: ',odd)

Enter any Numbers: 11
count of even is:  0
count of odd is:  2

In [23]:
x = int(input('enter the number'))
if (x%2)==0:
    print('number is even')
else:
    print('number is odd')

enter the number12
number is even

### Assignment Operators

In [ ]:
=
+=  >> a+=1 >> a=a+1
-=  >> a-=1 >> a=a-1
*=  >> a*=2 >> a=a*2
/=  >> a/=2 >> a=a/2
//= >> a//=2>> a=a//2
**= >> a**=2>> a=a**2

In [ ]:
x=10

In [25]:
x=10
# x+=1
x=x+1
x

11

In [26]:
bin(10)

'0b1010'

In [27]:
bin(14)

'0b1110'

In [28]:
5 and 7

7

In [29]:
5 & 7 |

5

In [30]:
5 and True

True

In [31]:
5 or True

5

### Polynomial Equation

In [34]:
x =6 
y=(x**3) + (3*(x**2)) - (5*x)+7
print(y)

301

In [ ]:
Preference of Arithmetic Operator

1. () >> Parenthesis
2. ** >> Exponent
3.  / , // ,*
4. + , -

In [37]:
(5*(x^4))-(3*(x^3))+(4*(x^2)) -(8*(x+6))

-85

In [ ]:
XOR

In [35]:
5^6

3

### Membership Operator

In [ ]:
in
not in

In [42]:
string = 'Data Science'
'Data' in string

True

In [43]:
string = 'Data Science'
'data' in string

False

In [45]:
string = 'Data Science'
'Data' not in string

False

In [46]:
string = 'Data Science'
'data' not in string

True

### Logical Operator

In [ ]:
and 
or
not

not True >> False
not False >> True

In [48]:
if 5>2: # True
    print('Hello')

Hello

In [49]:
if not 5>2:  # not True >> False
    print('Hello')

## Operators

### 1. Arithmetic Opeartor

In [ ]:
+
-
*
/
//
%
**

### 2. Assignment Operator

In [ ]:
=
+=
-=
*=
/=
//=
**=

### 3. Comparison Operator

In [ ]:
==
!=
<=
>=
<
>

### 4. Membership Operator

In [ ]:
in >> True/False
not in

### 5. Logical Operator

In [ ]:
and 
or 
not

In [52]:
a=5
b=10
c=15
if not a>b and not a>c:
    print('hello')

hello

In [53]:
a=5
b=10
c=15
if not a>b or not a>c:
    print('hello')

hello

In [54]:
a=5
b=10
c=15
if not a<b or not a<c:
    print('hello')

### 6. Bitwise Operator

In [ ]:
& == Bitwise AND
| == Bitwise OR
^ == Bitwise XOR
>>== Right shift
<<== Left shift
~ == Bitwise NOT(Complement/TILDE)

### 7. Identity Operator

In [ ]:
is
is not

In [55]:
a='python'
b='Python'
a is b

False

In [56]:
a='Python'
b='Python'
a is b

True

In [57]:
a='python'
b='Python'
a is not b

True