### Loops in Python

1. For loop
2. while loop
Same functionality but different syntax
It executes set of statements/code

#### For loop

In [ ]:
It works like an iterator sequence >> str, list, tuple, set ,range, dict etc.(iterables)
Iterables >> any sequence of character which we can iterate through will be iterables.
syntax of for loop:
for variable_name in sequence/iterables:
    print(variable_name)
    statement1/code1
    statement2/code2

In [2]:
string = 'We are learning Python Language'
print(string)
print(string)
print(string)
print(string)

We are learning Python Language
We are learning Python Language
We are learning Python Language
We are learning Python Language

In [5]:
string = 'We are learning Python Language'
for i in range(5): # 0 1 2 3 4
    print(string)
    print('hi')
    print()

We are learning Python Language
hi

We are learning Python Language
hi

We are learning Python Language
hi

We are learning Python Language
hi

We are learning Python Language
hi

In [7]:
string = 'We are learning Python Language'
for i in range(10): # 0 1 2 3 4 5 6 7 8 9
    print(i,string)

0 We are learning Python Language
1 We are learning Python Language
2 We are learning Python Language
3 We are learning Python Language
4 We are learning Python Language
5 We are learning Python Language
6 We are learning Python Language
7 We are learning Python Language
8 We are learning Python Language
9 We are learning Python Language

#### 1. for loop using string

In [9]:
str1 = 'Python Language' # length >>15
for char in str1:
    print(char)

P
y
t
h
o
n

L
a
n
g
u
a
g
e

In [11]:
str1= 'Python' # length >>6
for char in str1:
    print(char)
    print('Python is Programming Language')
    print()

P
Python is Programming Language

y
Python is Programming Language

t
Python is Programming Language

h
Python is Programming Language

o
Python is Programming Language

n
Python is Programming Language

In [12]:
str1= 'Python' # length >>6
for char in str1:
    print('Char is ',char)
    print('Python is Programming Language')
    print()

Char is  P
Python is Programming Language

Char is  y
Python is Programming Language

Char is  t
Python is Programming Language

Char is  h
Python is Programming Language

Char is  o
Python is Programming Language

Char is  n
Python is Programming Language

In [13]:
list1 = [2,3,4,5,6]
for i in list1:
    print(i)

2
3
4
5
6

In [15]:
list1 = [2,3,4,5,6]
for var in list1:
    print(var)

2
3
4
5
6

In [17]:
list1 = [2,3,4,'python',5,'Class',7]

for char in list1:
    print(char)

2
3
4
python
5
Class
7

In [18]:
list1 = [2,3,4,'python',5,'Class',7]

for char in list1:
    print(char)

2
3
4
python
5
Class
7

In [19]:
list1 = [2,3,4,'python',5,'Class',7]

for char in list1:
    if type(char) == int:
        print('Character is ',char)

Character is  2
Character is  3
Character is  4
Character is  5
Character is  7

In [20]:
list1 = [2,3,4,'python',5,'Class',7]

for char in list1:
    if type(char) == str:
        print('Character is ',char)

Character is  python
Character is  Class

In [24]:
list1 = [2,3.5,4,'python',5,'Class',7]

for char in list1:
    if type(char) == int:
        print(f'{char} is int')
        print()
    elif type(char) == float:
        print(f'{char} is float')
        print()
    else:
        print(f'{char} is string')
        print()

2 is int

3.5 is float

4 is int

python is string

5 is int

Class is string

7 is int

In [27]:
list1 = [2,3.5,4,'python',5,'Class',7]
int1=[]
float1=[]
string1=[]
for char in list1:
    if type(char) == int:
        int1.append(char)
    elif type(char) == float:
        float1.append(char)
    else:
        string1.append(char)
print(int1)
print(float1)
print(string1)

['python', 'Class']

In [28]:
tuple1 = (2,3,4,5)
for i in tuple1:
    print(f'i == {i}')

i == 2
i == 3
i == 4
i == 5

### enumerate function

for index,value in enumerate(sequence):
    print(index,value)
    code1
    code2

In [29]:
for index,value in enumerate('Python'):
    print(index, value)

0 P
1 y
2 t
3 h
4 o
5 n

In [31]:
l1= [10,20,30,40]
for i, v in enumerate(l1):
    print(i,'>>',v)

0 >> 10
1 >> 20
2 >> 30
3 >> 40

In [32]:
l1= [10,20,30,40]
for i, v in enumerate(l1):
    print(f'value at index {i} is {v}')

value at index 0 is 10
value at index 1 is 20
value at index 2 is 30
value at index 3 is 40

### Range Function in loop

In [33]:
range(0,10)

range(0, 10)

In [34]:
for i in range(0,3):
    print(i)

0
1
2

In [35]:
for i in range(3):
    print(i)

0
1
2

In [36]:
for i in range(3,7):
    print(i)

3
4
5
6

In [37]:
string = 'python'
for i in range(len(string)):
    print(i)

0
1
2
3
4
5

In [38]:
string = 'python'
for i in len(string):
    print(i)

TypeError: 'int' object is not iterable

In [39]:
string = 'python'
for i in range(2,len(string)):
    print(i)

2
3
4
5

In [40]:
string = 'python'
for i in range(string):
    print(i)

TypeError: 'str' object cannot be interpreted as an integer