## Set

string : Ordered, Immutable, Duplicates are allowed
List : Ordered , Mutable, Duplicates are allowed
Tuple: Ordered, Immuatble, Duplicates are allowed
Set : Unorderd, Mutable, Duplicates are not allowed

In [ ]:
Set:Unorderd, Mutable, Duplicates are not allowed
    We can only add immutable items
    
Mutable: list, set , dict
Immutable: int, float, tuple, bool, str
    
Enclosed by {}

In [ ]:
str =' '
list= []
tuple=()
set= set()
dict={}

In [1]:
a={}
type(a)

dict

In [3]:
var=set()
type(var)

set

In [6]:
var

set()

In [5]:
s1 = {2,3,4,5,4,5,6,3,7}
print(s1) # duplicates are not allowed
type(s1)

{2, 3, 4, 5, 6, 7}

set

In [7]:
s1 = {2,3,4,4.4,'a','python',3,2,4,7,8}
print(s1)

{2, 3, 4, 4.4, 'python', 7, 8, 'a'}

In [8]:
s1[0]

TypeError: 'set' object is not subscriptable

In [9]:
s1[:3]

TypeError: 'set' object is not subscriptable

In [11]:
set1= {1,2.2,3+4j,'a'}
set1

{(3+4j), 1, 2.2, 'a'}

In [12]:
set1= {1,2.2,3+4j,'a',[2,3,4]}
set1

TypeError: unhashable type: 'list'

In [13]:
set1= {1,2.2,3+4j,'a',{2,3,4}}
set1

TypeError: unhashable type: 'set'

In [14]:
set1= {1,2.2,3+4j,'a',(2,3,4)}
set1

{(2, 3, 4), (3+4j), 1, 2.2, 'a'}

In [15]:
set1= {1,2.2,3+4j,'a',{'a':1,'b':3}}
set1

TypeError: unhashable type: 'dict'

In [20]:
set1= {1,2.2,0,3+4j,'a',True, False,0}
set1

{(3+4j), 0, 1, 2.2, 'a'}

In [17]:
set1= {True, False}
set1

{False, True}

In [22]:
t1 =2,3,4,5
t1
set(t1)

{2, 3, 4, 5}

In [23]:
t1 =(2,3,4,5)
s1=set(t1)
s1

{2, 3, 4, 5}

In [24]:
list1=[2,3,4,5]
s2= set(list1)
s2

{2, 3, 4, 5}

In [25]:
list(s2)

[2, 3, 4, 5]

In [26]:
list1= [2,3,4,5,'100','1000',3,4,5,10,7]
new =list(set(list1))
new

[2, 3, 4, 5, '1000', 7, 10, '100']

In [27]:
new

[2, 3, 4, 5, '1000', 7, 10, '100']

### How to access set items

In [29]:
set1 ={2,3,'python', 'data', 'science', 4,600,6,7}
print(set1)

for i in set1:
    print(i)

{'data', 'science', 2, 3, 4, 'python', 6, 7, 600}
data
science
2
3
4
python
6
7
600

## Set Functions

### Delete items from set

1. remove
2. pop
3. clear
4. del
5. discard

#### 1. remove

Error >> if item is not present in set

In [31]:
set1 ={2,3,'python', 'data', 'science', 4,600,6,7} # len=9
set1. remove(600)
print(set1)

{'data', 'science', 2, 3, 4, 'python', 6, 7}

In [35]:
set1 ={2,3,'python', 'data', 'science', 4,600,6,7} # len=9
set1.remove('data')
print(set1)

{'science', 2, 3, 4, 'python', 6, 7, 600}

In [36]:
set1 ={2,3,'python', 'data', 'science', 4,600,6,7} # len=9
set1.remove(100)
print(set1)

KeyError: 100

#### 2. discard()

if element is not present it wont give any error

In [37]:
set1 ={2,3,'python', 'data', 'science', 4,600,6,7} # len=9
set1.discard('data')
print(set1)

{'science', 2, 3, 4, 'python', 6, 7, 600}

In [42]:
set1 ={2,3,'python', 'data', 'science', 4,600,6,7} # len=9
set1.discard(600)
print(set1)

{'data', 'science', 2, 3, 4, 'python', 6, 7}

In [43]:
set1 ={2,3,'python', 'data', 'science', 4,600,6,7} # len=9
set1.discard(100)
print(set1)

AttributeError: 'NoneType' object has no attribute 'discard'

#### 3. pop()

It will delete random item from set

In [44]:
set1 ={2,3,'python', 'data', 'science', 4,600,6,7} # len=9
set1.pop()
print(set1)

{'science', 2, 3, 4, 'python', 6, 7, 600}

In [46]:
set1.pop()
print(set1)

{2, 3, 4, 'python', 6, 7, 600}

#### 4. clear()

In [47]:
set1 ={2,3,'python', 'data', 'science', 4,600,6,7} # len=9
set1.clear()
print(set1)

set()

#### 5. del

In [48]:
set1 ={2,3,'python', 'data', 'science', 4,600,6,7} # len=9
del set1

In [49]:
set1

NameError: name 'set1' is not defined

### Add items

#### 6. add()

In [50]:
set1 ={2,3,'python', 'data', 'science', 4,600,6,7} # len=9
set1.add(100)
set1

{100, 2, 3, 4, 6, 600, 7, 'data', 'python', 'science'}

In [68]:
set1 ={2,3,'python', 'data', 'science', 4,600,6,7} # len=9
set1.add((10,20))
set1

{(10, 20), 2, 3, 4, 6, 600, 7, 'data', 'python', 'science'}

In [51]:
set1.add(1000)
set1

{100, 1000, 2, 3, 4, 6, 600, 7, 'data', 'python', 'science'}

#### 7. update()

In [53]:
s1 = {2,3,'python', 'data', 'science', 4,600,6,7} # len=9
s2 = {1,10,20,30,'a'}
s1.update(s2)
print(s1,len(s1))

{'data', 'science', 2, 3, 4, 'python', 6, 7, 1, 10, 'a', 20, 600, 30} 14

In [54]:
s1 = {2,3,'python', 'data', 'science', 4,600,6,7} # len=9
l2 = [1,10,20,30,'a']
s1.update(l2)
print(s1,len(s1))

{'data', 'science', 2, 3, 4, 'python', 6, 7, 1, 10, 'a', 20, 600, 30} 14

In [55]:
s1 = {2,3,'python', 'data', 'science', 4,600,6,7} # len=9
l2 = [1,10,20,30,'a']
l2.update(s1)
print(s1,len(s1))

AttributeError: 'list' object has no attribute 'update'

In [56]:
s1 = {2,3,'python', 'data', 'science', 4,600,6,7} # len=9
s2 = {1,10,20,30,'a'}
s3 = {11,22,33,44}
s1.update(s2,s3)
print(s1,len(s1))

{'data', 'science', 2, 3, 4, 'python', 6, 7, 1, 33, 10, 11, 44, 'a', 20, 22, 600, 30} 18

#### 8. union

In [58]:
s1 = {2,3,'python', 'data', 'science', 4,600,6,7} # len=9
s2 = {1,10,20,30,'a'}
s1.union(s2)

{1, 10, 2, 20, 3, 30, 4, 6, 600, 7, 'a', 'data', 'python', 'science'}

In [59]:
s1 = {2,3,'python', 'data', 'science', 4,600,6,7} # len=9
s2 = {1,10,20,30,'a'}
s3= s1.union(s2)
print(s1,len(s1))
print(s2,len(s2))
print(s3,len(s3))

{'data', 'science', 2, 3, 4, 'python', 6, 7, 600} 9
{1, 10, 'a', 20, 30} 5
{'data', 'science', 2, 3, 4, 'python', 6, 7, 1, 10, 'a', 20, 600, 30} 14

In [61]:
s1 = {2,3,40,10,20}
s2 = {10,20,1,'a'}
s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 40, 10, 'a', 20}
{1, 10, 20, 'a'}

In [63]:
s1 = {2,3,40,10,20}
s2 = {10,20,1,'a'}
s2.update(s1)
print(s1)
print(s2)

{2, 3, 40, 10, 20}
{1, 2, 3, 40, 10, 'a', 20}

In [64]:
s1 = {2,3,40,10,20}
s2 = {10,20,1,'a'}
s2.union(s1)
print(s1)
print(s2)

{2, 3, 40, 10, 20}
{1, 10, 20, 'a'}

In [65]:
s1 = {2,3,40,10,20}
s2 = {10,20,1,'a'}
s3 = s2.union(s1)
print(s1)
print(s2)
print(s3)

{2, 3, 40, 10, 20}
{1, 10, 20, 'a'}
{1, 2, 3, 40, 10, 'a', 20}

In [66]:
s1 = {2,3,40,10,20}
l2 = [10,20,1,'a']
s1.update(l2)
print(s1)
print(l2)

{1, 2, 3, 40, 10, 'a', 20}
[10, 20, 1, 'a']

In [67]:
s1 = {2,3,40,10,20}
l2 = (10,20,1,'a')
s1.update(l2)
print(s1)
print(l2)

{1, 2, 3, 40, 10, 'a', 20}
(10, 20, 1, 'a')

#### 9. intersection

In [71]:
s1 = {2,3,40,10,20}
s2 = {10,20,1,'a'}
s3 = s1.intersection(s2)
print(s1)
print(s2)
print(s3)

{2, 3, 40, 10, 20}
{1, 10, 20, 'a'}
{10, 20}

In [72]:
city1 = {'Pune' ,'Mumbai', "Nagpur",'Chennai'}
city2 = {'Pune','Kolkata', 'Bangalore','Mumbai'}
city3 = city1.intersection(city2)
print(city1)
print(city2)
print(city3)

{'Nagpur', 'Chennai', 'Pune', 'Mumbai'}
{'Bangalore', 'Kolkata', 'Pune', 'Mumbai'}
{'Pune', 'Mumbai'}

#### 10.intersection_update

In [75]:
s1 = {2,3,40,10,20}
s2 = {10,20,1,'a'}
s1.intersection_update(s2)
print(s1)
print(s2)

{10, 20}
{1, 10, 20, 'a'}

In [76]:
city1 = {'Pune' ,'Mumbai', "Nagpur",'Chennai'}
city2 = {'Pune','Kolkata', 'Bangalore','Mumbai'}
city1.intersection_update(city2)
print(city1)
print(city2)

{'Pune', 'Mumbai'}
{'Bangalore', 'Kolkata', 'Pune', 'Mumbai'}

### 11. difference()

In [78]:
s1 = {2,3,40,10,20}
s2 = {10,20,1,'a'}
s1.difference(s2)
print(s1)
print(s2)

{2, 3, 40, 10, 20}
{1, 10, 20, 'a'}

In [79]:
s1 = {2,3,40,10,20}
s2 = {10,20,1,'a'}
s3 = s1.difference(s2)
print(s1)
print(s2)
print(s3)

{2, 3, 40, 10, 20}
{1, 10, 20, 'a'}
{40, 2, 3}

In [80]:
s1 = {2,3,40,10,20}
s2 = {10,20,1,'a'}
s3 = s2.difference(s1)
print(s1)
print(s2)
print(s3)

{2, 3, 40, 10, 20}
{1, 10, 20, 'a'}
{1, 'a'}

#### 12. difference_update()

In [83]:
s1 = {2,3,40,10,20}
s2 = {10,20,1,'a'}
s2.difference_update(s1)
print(s1)
print(s2)

{2, 3, 40, 10, 20}
{1, 'a'}

#### 13. symmetric_difference

In [85]:
s1 = {2,3,40,10,20}
s2 = {10,20,1,'a'}
s2.symmetric_difference(s1)
print(s1)
print(s2)

{2, 3, 40, 10, 20}
{1, 10, 20, 'a'}

In [86]:
s1 = {2,3,40,10,20}
s2 = {10,20,1,'a'}
s3 = s2.symmetric_difference(s1)
print(s1)
print(s2)
print(s3)

{2, 3, 40, 10, 20}
{1, 10, 20, 'a'}
{1, 2, 3, 'a', 40}

In [87]:
city1 = {'Pune' ,'Mumbai', "Nagpur",'Chennai'}
city2 = {'Pune','Kolkata', 'Bangalore','Mumbai'}
city3 = city1.symmetric_difference(city2)
print(city1)
print(city2)
print(city3)

{'Nagpur', 'Chennai', 'Pune', 'Mumbai'}
{'Bangalore', 'Kolkata', 'Pune', 'Mumbai'}
{'Nagpur', 'Kolkata', 'Bangalore', 'Chennai'}

#### 14. symmetric_difference_update

In [90]:
s1 = {2,3,40,10,20}
s2 = {10,20,1,'a'}
s2.symmetric_difference_update(s1)
print(s1)
print(s2)

{2, 3, 40, 10, 20}
{1, 2, 3, 40, 'a'}

#### 15. issubset()

In [92]:
set1 = {2,3,4,5,6,10,20,'python','data'}
set2 = {2,3,4,'python'}
set2.issubset(set1)

True

In [93]:
set1 = {2,3,4,5,6,10,20,'python','data'}
set2 = {2,3,4,'python'}
set1.issubset(set2)

False

In [94]:
set1 = {2,3,4,5,6,10,20,'python','data'}
set2 = {2,3,4,'python',100}
set2.issubset(set1)

False

In [95]:
set1 = {2,3,4}
set2 = {2,3,4}
set2.issubset(set1)

True

#### 16. issuperset()

In [96]:
set1 = {2,3,4,5,6,10,20,'python','data'}
set2 = {2,3,4,'python'}
set2.issuperset(set1)

False

In [97]:
set1 = {2,3,4,5,6,10,20,'python','data'}
set2 = {2,3,4,'python'}
set1.issuperset(set2)

True

#### 17. isdisjoint()

In [ ]:
True >> no common items in two sets
False >> if two sets have common items

In [98]:
s1 = {2,3,40,10,20}
s2 = {10,20,1,'a'}
s2.isdisjoint(s1)

False

In [99]:
s1 = {2,3,40,10,20}
s2 = {10,20,1,'a'}
s1.isdisjoint(s2)

False

In [100]:
s1 = {2,3,40,10,20}
s2 = {1,'a'}
s2.isdisjoint(s1)

True

In [101]:
s1 = {2,3,4,10,20}
min(s1)

2

In [102]:
s1 = {2,3,4,10,20}
max(s1)

20

In [103]:
s1 = {2,3,4,10,20}
len(s1)

5

In [104]:
s1 = {2,3,4,10,20}
sum(s1)

39