In [5]:
for i in range(1,5):
    print('Number is :', i)
    for i in range(1,3):
        print('*****')

Number is : 1
*****
*****
Number is : 2
*****
*****
Number is : 3
*****
*****
Number is : 4
*****
*****

In [27]:
for i in range(1,5): # 1 2 3 4
#     print('Iteration no. :', i)
    for j in range(1,5): # 1 2 3 4
        print('*',end=' ')
    print()

* * * *
* * * *
* * * *
* * * *

In [28]:
for i in range(1,5): # 1 2 3 4
    print('Iteration no. :', i)
    for j in range(1,3): # 1 2
        print('*')
    print('Code Executed')

Iteration no. : 1
*
*
Code Executed
Iteration no. : 2
*
*
Code Executed
Iteration no. : 3
*
*
Code Executed
Iteration no. : 4
*
*
Code Executed

In [32]:
for i in range(1,5):
#     print(i)
    for i in range(1,5):
        print('*****')
    print()

*****
*****
*****
*****

*****
*****
*****
*****

*****
*****
*****
*****

*****
*****
*****
*****

In [39]:
for i in range(1,6):
    for i in range(1,5):
        print('*',end=' ')
    print()

* * * *
* * * *
* * * *
* * * *
* * * *

In [38]:
for i in range(1,6):
    for i in range(1,5):
        print('*',end='\n')
    print()

*
*
*
*

*
*
*
*

*
*
*
*

*
*
*
*

*
*
*
*

In [40]:
for i in range(6):
    for i in range(5):
        print('*',end=' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [51]:
n=int(input('Enter a number: '))
for i in range(1,n+1):
#     print(i)
    for j in range(i):
        print('*',end=' ')
    print()

Enter a number: 5
*
* *
* * *
* * * *
* * * * *

In [56]:
list(range(8,0,-1))

[8, 7, 6, 5, 4, 3, 2, 1]

In [57]:
list(range(8,0,-2))

[8, 6, 4, 2]

In [61]:
n=5
for i in range(n,0,-1):
#     print(i)
    for j in range(i):
        print('*',end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [64]:
n=5 
for i in range(n):
    for j in range(i):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *

In [66]:
n=5
for i in range(n):
    for j in range(n):
        print('1',end=' ')
    print()

1 1 1 1 1
1 1 1 1 1
1 1 1 1 1
1 1 1 1 1
1 1 1 1 1

In [71]:
n=5
for i in range(n):
    for j in range(n):
        print(j,end=' ')
    print()

0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4

In [72]:
n=5
for i in range(n):
    for j in range(n):
        print(i,end=' ')
    print()

0 0 0 0 0
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4

In [73]:
n=5
for i in range(n):
    for j in range(n):
        print('A',end=' ')
    print()

A A A A A
A A A A A
A A A A A
A A A A A
A A A A A

In [75]:
n=5
for i in range(1,n+1):
    for j in range(i):
        print('A',end=' ')
    print()

A
A A
A A A
A A A A
A A A A A

In [76]:
n=5
for i in range(1,n+1):
    for j in range(i):
        print(i,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [79]:
n=5
for i in range(1,n+1):
    for j in range(i):
        print(j,end=' ')
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [80]:
n=5
for i in range(1,n+1):
    for j in range(i):
        print(j+1,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [82]:
chr(65)

'A'

In [83]:
ord('A')

65

In [84]:
n=5
for i in range(n):
    for j in range(n):
        print(chr(65), end=' ')
    print()

A A A A A
A A A A A
A A A A A
A A A A A
A A A A A

In [85]:
n=5
num=65
for i in range(n):
    for j in range(n):
        print(chr(num), end=' ')
    print()

A A A A A
A A A A A
A A A A A
A A A A A
A A A A A

In [87]:
n=5
num=97
for i in range(n):
    for j in range(n):
        print(chr(num), end=' ')
    print()

a a a a a
a a a a a
a a a a a
a a a a a
a a a a a

In [86]:
ord('a')

97

In [92]:
n=5
num=97
for i in range(n):
    for j in range(n):
        print(chr(num),end=' ')
        num+=1
    print()

a b c d e
f g h i j
k l m n o
p q r s t
u v w x y

In [89]:
n=5
num=97
for i in range(n):
    for j in range(n):
        print(chr(num),end=' ')
    num+=1
    print()

a a a a a
b b b b b
c c c c c
d d d d d
e e e e e

In [93]:
n=5
num=97
for i in range(n):
    for j in range(n):
        print(chr(num),end=' ')
        num+=1
    print(num)
    print()

a b c d e 102

f g h i j 107

k l m n o 112

p q r s t 117

u v w x y 122

In [90]:
n=5
# num=97
for i in range(n):
    num=97
    for j in range(n):
        print(chr(num),end=' ')
        num+=1
    
    print()

a b c d e
a b c d e
a b c d e
a b c d e
a b c d e

In [95]:
n=5
# num=97
for i in range(n):
    num=97
    for j in range(n):
        print(chr(num),end=' ')
        num+=1
    print(num)
    print()

a b c d e 102

a b c d e 102

a b c d e 102

a b c d e 102

a b c d e 102

In [96]:
n=5
for i in range(1,n+1):
    for j in range(i):
        print(chr(65),end=' ')
    print()

A
A A
A A A
A A A A
A A A A A

In [97]:
n=5
num=65
for i in range(1,n+1):
    for j in range(i):
        print(chr(num),end=' ')
        num+=1
    print()

A
B C
D E F
G H I J
K L M N O

In [98]:
n=5
num=1
for i in range(1,n+1):
    for j in range(i):
        print(num,end=' ')
        num+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [99]:
n=5
num=1
for i in range(1,n+1):
    for j in range(i):
        print(num**2,end=' ')
        num+=1
    print()

1
4 9
16 25 36
49 64 81 100
121 144 169 196 225