## Special Sequences

In [ ]:
[abc] >> a or b or c
[a-z] >> any lower case char
[A-Z] >> any upper case char
[a-zA-Z] >> any alphabet
[A-z] >> any alphabet
[09] >> 0 or 9
[0-9] >> 0-9 digits
[0-9a-zA-Z] >> alphanumeric

In [2]:
import re
a = '9980345677'

mob = re.findall('[0-9]{10}', a)
mob

['9980345677']

In [4]:
aadhar = '1234 4567 6789'

adhar_num = re.findall('[0-9]{4}[ ][0-9]{4}[ ][0-9]{4}',aadhar)
adhar_num

['1234 4567 6789']

In [7]:
aadhar = '91234 4567 6789'

adhar_num = re.findall('[0-9]{4}[ ][0-9]{4}[ ][0-9]{4}',aadhar)
adhar_num

['1234 4567 6789']

## 1. \d

In [ ]:
\d >> [0-9] any digit

In [8]:
aadhar = '91234 4567 6789'

adhar_num = re.findall('\d{4}[ ]\d{4}[ ]\d{4}',aadhar)
adhar_num

['1234 4567 6789']

In [9]:
aadhar = '91234 4567 6789'

adhar_num = re.findall('\d{4}\s\d{4}\s\d{4}',aadhar)
adhar_num

['1234 4567 6789']

In [10]:
no = 'MH28 20141234567   MH12 20137654321 MH14 2020123456'

DL = re.findall('[A-Z]{2}\d{2}\s\d{11}', no)
print(DL)

['MH28 20141234567', 'MH12 20137654321']

## 2. \D

In [ ]:
\D >> Except [0-9] >> [^0-9] >> Any character except digits

In [12]:
text = '''Data science is an interdisciplinary field that uses scientific methods, processes, 1234 12345 12345678
algorithms and systems to extract  !@#$%^ knowledge and insights from noisy, structured and unstructured data,
and apply knowledge and actionable insights from data across a broad range of application domains.'''

result = re.findall('\d{4}', text)
print(result)

['1234', '1234', '1234', '5678']

In [13]:
text = '''Data science is an interdisciplinary field that uses scientific methods, processes, 1234 12345 123456
algorithms and systems to extract  !@#$%^ knowledge and insights from noisy, structured and unstructured data,
and apply knowledge and actionable insights from data across a broad range of application domains.'''

result = re.findall('\D{4}', text)
print(result)

['Data', ' sci', 'ence', ' is ', 'an i', 'nter', 'disc', 'ipli', 'nary', ' fie', 'ld t', 'hat ', 'uses', ' sci', 'enti', 'fic ', 'meth', 'ods,', ' pro', 'cess', 'es, ', '\nalg', 'orit', 'hms ', 'and ', 'syst', 'ems ', 'to e', 'xtra', 'ct  ', '!@#$', '%^ k', 'nowl', 'edge', ' and', ' ins', 'ight', 's fr', 'om n', 'oisy', ', st', 'ruct', 'ured', ' and', ' uns', 'truc', 'ture', 'd da', 'ta,\n', 'and ', 'appl', 'y kn', 'owle', 'dge ', 'and ', 'acti', 'onab', 'le i', 'nsig', 'hts ', 'from', ' dat', 'a ac', 'ross', ' a b', 'road', ' ran', 'ge o', 'f ap', 'plic', 'atio', 'n do', 'main']

In [14]:
text = 'Data Science @# is 098765 345678987 678'

result = re.findall('\D' , text)
print(result,len(result))

['D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e', ' ', '@', '#', ' ', 'i', 's', ' ', ' ', ' '] 21

## 3. \s

In [ ]:
\s >> [ ]>> white space

In [15]:
text = 'Data Science @# is 098765 345678987 678'

result = re.findall('\s' , text)
print(result,len(result))

[' ', ' ', ' ', ' ', ' ', ' '] 6

In [17]:
text = 'Data Science  @# is 098765  345678987 678'

result = re.findall('\s{2}' , text)
print(result,len(result))

['  ', '  '] 2

In [20]:
aadhar = '91234 4567 6789'

adhar_num = re.findall('\d{4}\s\d{4}\s\d{4}',aadhar)
adhar_num

['1234 4567 6789']

## 4. \S

In [ ]:
\S >> Except white spaces

In [25]:
text = 'Data 7890 !@#$%'

result = re.findall('\S', text)
result

['D', 'a', 't', 'a', '7', '8', '9', '0', '!', '@', '#', '$', '%']

In [22]:
text = 'Data 7890'

result = re.findall('\S{4}', text)
result

['Data', '7890']

In [1]:
text = 'Data 7890'

result = re.findall('\S{5}', text)
result

NameError: name 're' is not defined

## 5. \w

In [ ]:
\w >> [0-9a-zA-Z] >> Alphanumeric

In [24]:
text = '''Data science is an interdisciplinary field that uses scientific methods, processes, 1234 12345 123456
algorithms and systems to extract  !@#$%^ knowledge..'''

result = re.findall('\w{2}', text)
print(result)

['Da', 'ta', 'sc', 'ie', 'nc', 'is', 'an', 'in', 'te', 'rd', 'is', 'ci', 'pl', 'in', 'ar', 'fi', 'el', 'th', 'at', 'us', 'es', 'sc', 'ie', 'nt', 'if', 'ic', 'me', 'th', 'od', 'pr', 'oc', 'es', 'se', '12', '34', '12', '34', '12', '34', '56', 'al', 'go', 'ri', 'th', 'ms', 'an', 'sy', 'st', 'em', 'to', 'ex', 'tr', 'ac', 'kn', 'ow', 'le', 'dg']

In [26]:
aadhar = '91234 4567 6789'

adhar_num = re.findall('\w{4}\s\w{4}\s\w{4}',aadhar)
adhar_num

['1234 4567 6789']

In [31]:
text = '''IFSC is : SBIN0001234
            HDFC IFSC : HDFC0009876
            KOTAK IFSC : KTKB00001234'''

ifsc = re.findall('\w{10,15}',text)
ifsc

['SBIN0001234', 'HDFC0009876', 'KTKB00001234']

In [32]:
text = '''IFSC is : SBIN0001234
            HDFC IFSC : HDFC0009876
            KOTAK IFSC : KTKB00001234'''

ifsc = re.findall('[A-Z]{4}[0-9]{7,10}',text)
ifsc

['SBIN0001234', 'HDFC0009876', 'KTKB00001234']

In [33]:
text = '''IFSC is : SBIN0001234
            HDFC IFSC : HDFC0009876
            KOTAK IFSC : KTKB00001234'''

ifsc = re.findall('[A-Z]{4}\d{7,10}',text)
ifsc

['SBIN0001234', 'HDFC0009876', 'KTKB00001234']

## 6. \W

In [ ]:
\W >> except [0-9a-zA-Z]alphanumeric >> special characters

In [34]:
text = 'IFSC is !@#$ 34567 )(*&^%)'

ifsc = re.findall('\W',text)
ifsc

[' ', ' ', '!', '@', '#', '$', ' ', ' ', ')', '(', '*', '&', '^', '%', ')']

## 7. \b

In [ ]:
Checks for characters at beginning  or end of word

In [38]:
text = '''IFSC is : SBIN0001234
            HDFC IFSC : HDFC0009876
            KOTAK IFSC : KTKB00001234'''

ifsc = re.findall(r'\b[A-Z]{4}\d{7,10}',text)
ifsc

['SBIN0001234', 'HDFC0009876', 'KTKB00001234']

In [41]:
text = '''IFSC is : SBIN0001234    #valid
            HDFC IFSC : HDFC0009876 # valid
            KOTAK IFSC : KTKB00001234 #valid
            DFGHJK12345678 # invalid
            SDFGH456767 #invalid'''

ifsc = re.findall(r'\b[A-Z]{4}\d{7,10}\b',text)
ifsc

['SBIN0001234', 'HDFC0009876', 'KTKB00001234']

In [42]:
text = ''' MObile is : 9970881215 # valid
                        9988776655 # valid
                        987655443567 #invalid
                        A9864346787 # invalid
                        9757564788 #valid'''

mobile_number = re.findall('[0-9]{10}',text)
mobile_number

['9970881215', '9988776655', '9876554435', '9864346787', '9757564788']

In [43]:
text = ''' MObile is : 9970881215 # valid
                        9988776655 # valid
                        987655443567 #invalid
                        A9864346787 # invalid
                        9757564788 #valid'''

mobile_number = re.findall('\d{10}',text)
mobile_number

['9970881215', '9988776655', '9876554435', '9864346787', '9757564788']

In [44]:
text = ''' MObile is : 9970881215 # valid
                       9988776655 # valid
                       987655443567 #invalid
                       A9864346787 # invalid
                       9757564788 #valid'''

mobile_number = re.findall(r'\b\d{10}\b',text)
mobile_number

['9970881215', '9988776655', '9757564788']

In [45]:
text = ''' MObile is : 9970881215 # valid
                       9988776655 # valid
                       987655443567 #invalid
                       A9864346787 # invalid
                       9757564788 #valid'''

mobile_number = re.findall(r'\b[A-Z]\d{10}\b',text)
mobile_number

['A9864346787']

In [46]:
text = 'Python class Pune'
results = re.findall('\w{5}', text)
results

['Pytho', 'class']

In [49]:
text = 'Python class Pune'
results = re.findall(r'\b\w{5}\b', text)
results

['class']

In [50]:
text = 'Python class Pune'
results = re.findall(r'\w{5}\b', text)
results

['ython', 'class']

In [51]:
text = 'Python class Pune'
results = re.findall('\w{5} ', text)
results

['ython ', 'class ']

In [53]:
text = 'Velocity Corporate Training Centre, Python and Data Science Class Pune'
results = re.findall(r'\b\w{5}\b', text)
results

['Class']

In [54]:
text = 'Velocity Corporate Training Centre, Python and Data Science Class Pune'
results = re.findall(r'\b\w{4}\b', text)
results

['Data', 'Pune']

In [55]:
text = 'Velocity Corporate Training Centre, Python and Data Science Class Pune'
results = re.findall(r'\b\w{6}\b', text)
results

['Centre', 'Python']

In [56]:
text = 'Velocity Corporate Training Centre, Python and Data Science Class Pune'
results = re.findall('python', text)
results

[]

In [57]:
text = 'Velocity Corporate Training Centre, Python and Data Science Class Pune'
results = re.findall('Python', text)
results

['Python']

In [58]:
text = '''Velocity Corporate Training Centre, Python and Data Science Class Pune
        Pythonclasspune'''
results = re.findall(r'\bPython', text)
results

['Python', 'Python']

In [59]:
text = '''Velocity Corporate Training Centre, Python and Data Science Class Pune
        Pythonclasspune'''
results = re.findall(r'\bPython\b', text)
results

['Python']

## Regex Functions

In [ ]:
1. findall()

## 2. search()

In [ ]:
It searches for a pattern and returns an object of first occurence only
re.search(pattern, text)

In [60]:
text = '''Mobile 9089865765 # valid
                8736598076 #valid'''

mobile_number = re.search(r'\b\d{10}\b',text)
mobile_number

In [61]:
mobile_number.span()

(7, 17)

In [62]:
mobile_number.start()

7

In [63]:
mobile_number.end()

17

In [65]:
mobile_number.group()

'9089865765'

## 3. match()

In [ ]:
Checks for first index item of string/ first position

In [69]:
text = '''Mobile 9089865765 # valid
                8736598076 #valid'''

mobile_number = re.match(r'\b\d{10}\b',text)
mobile_number.group()

AttributeError: 'NoneType' object has no attribute 'group'

In [71]:
text = '''8736598076 Mobile 9089865765 # valid
                8736598076 #valid'''

mobile_number = re.match(r'\b\d{10}\b',text)
mobile_number

In [72]:
mobile_number.group()

'8736598076'

In [74]:
text = '''8736598076 Mobile 9089865765 # valid
                8736598076 #valid'''

mobile_number = re.match(r'\b\d{10}\b',text)
if mobile_number:
    print(mobile_number.group())

8736598076

In [76]:
text = ''' 8736598076 Mobile 9089865765 # valid
                8736598076 #valid'''

mobile_number = re.match(r'\b\d{10}\b',text)
if mobile_number:
    print(mobile_number.group())

else:
    print('No match found')

No match found

In [77]:
text = '''8736598076 Mobile 9089865765 # valid
                8736598076 #valid'''

mobile_number = re.match(r'\b\d{10}\b',text)
if mobile_number:
    print(mobile_number.group())

else:
    print('No match found')

8736598076

## 4. sub()

In [ ]:
It is used to replace occurrences of particular substrings with another substring

In [78]:
string = 'Python and Data Science'
string = string.replace('Python', 'JAVA')
string

'JAVA and Data Science'

In [79]:
string = 'Python and Data Science'
string = string.replace('P', 'J')
string

'Jython and Data Science'

In [81]:
string = 'Python and Data Science 2345 !@#$'
string = string.replace('2345', '').replace('!@#$','')
string

'Python and Data Science  '

In [83]:
text = '''Mobile 9089865765 # valid
                8736598076 #valid'''

text = re.sub('\d','+',text)
print(text)

Mobile ++++++++++ # valid
                ++++++++++ #valid

In [84]:
text = '''Mobile 9089865765 # valid
                8736598076 #valid'''

text = re.sub('\d','',text)
print(text)

Mobile  # valid
                 #valid

In [85]:
text = '''Mobile 9089865765 # valid
                8736598076 #valid'''

text = re.sub('\s','',text)
print(text)

Mobile9089865765#valid8736598076#valid

In [86]:
text = '''Mobile 9089865765 # valid
                8736598076 #valid'''

text = re.sub('\W','+',text)
print(text)

Mobile+9089865765+++valid+++++++++++++++++8736598076++valid

In [87]:
text = '''Mobile 9089865765 # valid
                8736598076 #valid'''

text = re.sub('\W','   ',text)
print(text)

Mobile   9089865765         valid                                                   8736598076      valid

In [88]:
text = '''Data        science is an      interdisciplinary field that uses scientific methods,       processes, 1234 12345 123456
algorithms and systems to        extract  !@#$%^ knowledge and insights from      noisy, structured and unstructured data,
and apply        knowledge and actionable insights        from data across a broad range of application domains.'''

result = re.sub('\s',' ', text)
print(result)

Data        science is an      interdisciplinary field that uses scientific methods,       processes, 1234 12345 123456 algorithms and systems to        extract  !@#$%^ knowledge and insights from      noisy, structured and unstructured data, and apply        knowledge and actionable insights        from data across a broad range of application domains.

In [89]:
text = '''Data        science is an      interdisciplinary field that uses scientific methods,       processes, 1234 12345 123456
algorithms and systems to        extract  !@#$%^ knowledge and insights from      noisy, structured and unstructured data,
and apply        knowledge and actionable insights        from data across a broad range of application domains.'''

result = re.sub('\s+',' ', text)
print(result)

Data science is an interdisciplinary field that uses scientific methods, processes, 1234 12345 123456 algorithms and systems to extract !@#$%^ knowledge and insights from noisy, structured and unstructured data, and apply knowledge and actionable insights from data across a broad range of application domains.