## Dictionary

Dict: Mutable, Insertion order is not preserved, Duplicates not allowed(only key)
    
Python >= 3.6 >> Ordered
Python <3.6 >> Unordered

dict holds key and value pair
comma seperated
dict1= {'key':'value'}
indexing and slicing are not applicable

Duplicates not allowed:
    key >> Immutable Datatype : (int, float, str, tuple) >> Can not be duplicate
    value >> Any Datatype : (int, float, str, tuple, list , set, dict, array, dataframe) >> Can be Duplicate

In [3]:
s1 = set()
type(s1)

set

In [1]:
d1 = {}
type(d1)

dict

In [2]:
d1 = dict()
type(d1)

dict

In [4]:
d1 = {'Name': 'Virat'}
len(d1)

1

In [5]:
d1

{'Name': 'Virat'}

In [8]:
d1 = {'Name': 'Virat', 'Age': 32}
print(d1,len(d1))

{'Name': 'Virat', 'Age': 32} 2

In [9]:
d1 = {'Name': 'Virat', 'Age': 32, 'Score':183}
print(d1,len(d1))

{'Name': 'Virat', 'Age': 32, 'Score': 183} 3

In [10]:
d1 = {'Name': 'Virat', 'Age': 32, 'Score':183, 100:200}
print(d1,len(d1))

{'Name': 'Virat', 'Age': 32, 'Score': 183, 100: 200} 4

In [11]:
d1 = {'Name': 'Virat', 'Age': 32, 'Score':183, 10.5:200}
print(d1,len(d1))

{'Name': 'Virat', 'Age': 32, 'Score': 183, 10.5: 200} 4

In [12]:
d1 = {'Name': ['Virat','Rohit'], 'Age': 32, 'Score':183, 100:200}
print(d1,len(d1))

{'Name': ['Virat', 'Rohit'], 'Age': 32, 'Score': 183, 100: 200} 4

In [13]:
d1 = {'Name': ('Virat','Rohit'), 'Age': 32, 'Score':183, 100:200}
print(d1,len(d1))

{'Name': ('Virat', 'Rohit'), 'Age': 32, 'Score': 183, 100: 200} 4

In [14]:
d1 = {'Name': {'Player_name':'Rohit'}, 'Age': 32, 'Score':183, 100:200}
print(d1,len(d1))

{'Name': {'Player_name': 'Rohit'}, 'Age': 32, 'Score': 183, 100: 200} 4

### Access Dictionary items

dict[keyname]

In [16]:
employee_data = {'Employee Name': 'Sagar',
                'Salary':50000,
                'Age':30,
                'Company':'Capgemini'}

print(employee_data, len(employee_data))

{'Employee Name': 'Sagar', 'Salary': 50000, 'Age': 30, 'Company': 'Capgemini'} 4

In [17]:
employee_data['Employee Name']

'Sagar'

In [18]:
employee_data['Salary']

50000

In [19]:
employee_data['Company']

'Capgemini'

### get()

In [20]:
employee_data.get('Employee Name')

'Sagar'

In [21]:
employee_data.get('Salary')

50000

### for loop on dictionary

In [22]:
employee_data = {'Employee Name': 'Sagar',
                'Salary':50000,
                'Age':30,
                'Company':'Capgemini'}

#### 1. access keys from dict

In [23]:
for key in employee_data: # Default we will get keys from dict
    print('Key is :',key)

Key is : Employee Name
Key is : Salary
Key is : Age
Key is : Company

In [25]:
for key in employee_data.keys(): 
    print('Key is :',key)

Key is : Employee Name
Key is : Salary
Key is : Age
Key is : Company

In [24]:
employee_data.keys()

dict_keys(['Employee Name', 'Salary', 'Age', 'Company'])

In [27]:
for val in employee_data.values(): 
    print('Key is :',val)

Key is : Sagar
Key is : 50000
Key is : 30
Key is : Capgemini

In [26]:
employee_data.values()

dict_values(['Sagar', 50000, 30, 'Capgemini'])

In [28]:
employee_data.items()

dict_items([('Employee Name', 'Sagar'), ('Salary', 50000), ('Age', 30), ('Company', 'Capgemini')])

In [29]:
for key, val in employee_data.items(): 
    print(f'Key is {key} and Value is {val}')

Key is Employee Name and Value is Sagar
Key is Salary and Value is 50000
Key is Age and Value is 30
Key is Company and Value is Capgemini

In [ ]:
# dict Functions
1. keys()
2. values()
3. items()

### Check items in dictionary

In [32]:
employee_data = {'Employee Name': 'Sagar',
                'Salary':50000,
                'Age':30,
                'Company':'Capgemini'}
if 'Salary' in employee_data:
    print('Salary key is present')
else:
    print('Not present')

Salary key is present

In [33]:
employee_data = {'Employee Name': 'Sagar',
                'Salary':50000,
                'Age':30,
                'Company':'Capgemini'}
if 'Experience' in employee_data:
    print('Salary key is present')
else:
    print('Not present')

Not present

### Change items of dictionary

In [34]:
employee_data = {'Employee Name': 'Sagar',
                'Salary':50000,
                'Age':30,
                'Company':'Capgemini'}
employee_data['Salary'] =60000
employee_data

{'Employee Name': 'Sagar', 'Salary': 60000, 'Age': 30, 'Company': 'Capgemini'}

In [36]:
employee_data = {'Employee Name': 'Sagar',
                'Salary':50000,
                'Age':30,
                'Company':'Capgemini'}
employee_data['Company'] ='TCS'
employee_data

{'Employee Name': 'Sagar', 'Salary': 50000, 'Age': 30, 'Company': 'TCS'}

In [37]:
employee_data = {'Employee Name': 'Sagar',
                'Salary':50000,
                'Age':30,
                'Company':'Capgemini'}
employee_data['Company'] ='TCS'
employee_data['Salary'] = 70000
employee_data

{'Employee Name': 'Sagar', 'Salary': 70000, 'Age': 30, 'Company': 'TCS'}

In [38]:
employee_data = {'Employee Name': 'Sagar',
                'Salary':50000,
                'Age':30,
                'Company':'Capgemini'}
employee_data['Experience'] = '5 years'
employee_data

{'Employee Name': 'Sagar',
 'Salary': 50000,
 'Age': 30,
 'Company': 'Capgemini',
 'Experience': '5 years'}

#### update()

In [39]:
employee_data = {'Employee Name': 'Sagar',
                'Salary':50000,
                'Age':30,
                'Company':'Capgemini'}

new_dict = {'Salary': 70000,
           'Age':31,
           'Company':'TCS'}

employee_data.update(new_dict)
employee_data

{'Employee Name': 'Sagar', 'Salary': 70000, 'Age': 31, 'Company': 'TCS'}

In [40]:
employee_data = {'Employee Name': 'Sagar',
                'Salary':50000,
                'Age':30,
                'Company':'Capgemini'}

employee_data.update({'Company':'TCS'})
employee_data

{'Employee Name': 'Sagar', 'Salary': 50000, 'Age': 30, 'Company': 'TCS'}

In [41]:
employee_data = {'Employee Name': 'Sagar',
                'Salary':50000,
                'Age':30,
                'Company':'Capgemini'}
new= {'Company':'TCS'}
employee_data.update(new)
employee_data

{'Employee Name': 'Sagar', 'Salary': 50000, 'Age': 30, 'Company': 'TCS'}

In [42]:
employee_data = {'Employee Name': 'Sagar',
                'Salary':50000,
                'Age':30,
                'Company':'Capgemini'}
new= {'Experience':'5 years', 'Location':'Pune'}
employee_data.update(new)
employee_data

{'Employee Name': 'Sagar',
 'Salary': 50000,
 'Age': 30,
 'Company': 'Capgemini',
 'Experience': '5 years',
 'Location': 'Pune'}

In [43]:
employee_data = {'Employee Name': 'Sagar',
                'Salary':50000,
                'Age':30,
                'Company':'Capgemini'}
new= {'Experience':'5 years', 'Location':'Pune'}
new.update(employee_data)

print(employee_data, len(employee_data))
print(new ,len(new))

{'Employee Name': 'Sagar', 'Salary': 50000, 'Age': 30, 'Company': 'Capgemini'} 4
{'Experience': '5 years', 'Location': 'Pune', 'Employee Name': 'Sagar', 'Salary': 50000, 'Age': 30, 'Company': 'Capgemini'} 6

### Remove items from dict

In [ ]:
1. pop
2. popitem
3. clear
4. del

In [44]:
employee_data={'Experience': '5 years',
               'Location': 'Pune',
               'Employee Name': 'Sagar',
               'Salary': 50000,
               'Age': 30,
               'Company': 'Capgemini'}
employee_data

{'Experience': '5 years',
 'Location': 'Pune',
 'Employee Name': 'Sagar',
 'Salary': 50000,
 'Age': 30,
 'Company': 'Capgemini'}

#### 1.pop()

In [45]:
employee_data={'Experience': '5 years',
               'Location': 'Pune',
               'Employee Name': 'Sagar',
               'Salary': 50000,
               'Age': 30,
               'Company': 'Capgemini'}

employee_data.pop('Location')
print(employee_data, len(employee_data))

{'Experience': '5 years', 'Employee Name': 'Sagar', 'Salary': 50000, 'Age': 30, 'Company': 'Capgemini'} 5

In [46]:
employee_data.pop('Location')
print(employee_data, len(employee_data))

KeyError: 'Location'

In [47]:
employee_data.pop('Company')
print(employee_data, len(employee_data))

{'Experience': '5 years', 'Employee Name': 'Sagar', 'Salary': 50000, 'Age': 30} 4

In [48]:
marksheet = {'Eng':83, 'Math':73, 'Sci':82}
marksheet.pop('Eng')
marksheet

{'Math': 73, 'Sci': 82}

#### 2. popitem()

Remove last / last inserted item

In [49]:
marksheet = {'Eng':83, 'Math':73, 'Sci':82}
marksheet.popitem()
marksheet

{'Eng': 83, 'Math': 73}

In [50]:
marksheet.popitem()
marksheet

{'Eng': 83}

In [51]:
marksheet.popitem()
marksheet

{}

In [52]:
marksheet.popitem()
marksheet

KeyError: 'popitem(): dictionary is empty'

#### 3. clear()

In [54]:
marksheet = {'Eng':83, 'Math':73, 'Sci':82}
marksheet.clear()
print(marksheet,len(marksheet))

{} 0

#### 4. del

In [55]:
marksheet = {'Eng':83, 'Math':73, 'Sci':82}
del marksheet['Math']
marksheet

{'Eng': 83, 'Sci': 82}

In [56]:
del marksheet['Sci']
marksheet

{'Eng': 83}

In [57]:
del marksheet['Eng']
marksheet

{}

In [58]:
marksheet = {'Eng':83, 'Math':73, 'Sci':82}
del marksheet

In [59]:
marksheet

NameError: name 'marksheet' is not defined

### Nested Dictionary

In [60]:
class_1 = {'Virat':{'Eng':83,
                    'Math':73,
                    'Sci':82},
           
          'Rohit':{'Eng':81,
                   'Math':83,
                   'Sci':88},
           
          'Rahul':{'Eng':89,
                   'Math':81,
                   'Sci':80}}

print(class_1)
print('Length of dict is :',len(class_1))

{'Virat': {'Eng': 83, 'Math': 73, 'Sci': 82}, 'Rohit': {'Eng': 81, 'Math': 83, 'Sci': 88}, 'Rahul': {'Eng': 89, 'Math': 81, 'Sci': 80}}
Length of dict is : 3

In [61]:
class_1['Rahul']

{'Eng': 89, 'Math': 81, 'Sci': 80}

In [62]:
type(class_1['Rahul'])

dict

In [64]:
class_1['Rahul']['Eng']

89

In [65]:
class_1['Virat']['Sci']

82

In [66]:
data= {}
data['Name']='Sagar'
data['Loc']='Pune'
data

{'Name': 'Sagar', 'Loc': 'Pune'}

In [ ]:
sub_names= ['Phy','Che','Math','Eng','Bio']
sub_marks= [93,94,91,95,90]
# {'Phy':93,'Che':94....}

In [67]:
sub_names= ['Phy','Che','Math','Eng','Bio']
sub_marks= [93,94,91,95,90]
d1 = {}
for i in sub_names:
    for j in sub_marks:
        d1[i]=j

print(d1)

{'Phy': 90, 'Che': 90, 'Math': 90, 'Eng': 90, 'Bio': 90}

In [ ]:
d1[]

In [70]:
sub_names= ['Phy','Che','Math','Eng','Bio']
sub_marks= [93,94,91,95,90]
dict1 = {}

for i in range(len(sub_names)):
    dict1[sub_names[i]]=sub_marks[i]
    
print(dict1)

{'Phy': 93, 'Che': 94, 'Math': 91, 'Eng': 95, 'Bio': 90}

In [ ]:
sub_names= ['Phy','Che','Math','Eng','Bio']
sub_marks= [93,94,91,95,90]
dict1 = {}