# List

In [ ]:
It is collection of items
Used to store sequence of various data types(int, float, list, tuple, set, dict, dataframe)

duplicates are allowed
ordered data type
Mutable data type(changable)
It is enclosed by square brackets >> []
Comma seperated values

In [1]:
a=[1,2,4,3,2,1]
print(type(a))
a

<class 'list'>

[1, 2, 4, 3, 2, 1]

In [2]:
list1=[2,3,5,10.5,'a']
list1[1] # index

3

In [3]:
list1=[2,3,5,10.5,'a']
print(list1)
list1[1]=1000
print(list1)

[2, 3, 5, 10.5, 'a']
[2, 1000, 5, 10.5, 'a']

In [4]:
list1.append(2000) # add a perticular character
print(list1)

[2, 1000, 5, 10.5, 'a', 2000]

In [5]:
l1= [3,4,5,6,2,3,4,5]
print(l1,'>>',len(l1))

[3, 4, 5, 6, 2, 3, 4, 5] >> 8

In [6]:
set1= {3,4,5,6,2,3,4,5}
print(set1,'>>',len(set1))

{2, 3, 4, 5, 6} >> 5

In [7]:
data= [2,3,45,56,[100,200,300],'Python',10.34,3+4j,{'a':100,'b':200},(2,3,4,5)]
len(data)

10

In [10]:
data[4][2]

300

### Indexing

In [ ]:
index will starts from 0 to len -1

In [11]:
list1= [10,20,30,25,15,"Python",'Data Science']
list1

[10, 20, 30, 25, 15, 'Python', 'Data Science']

In [17]:
list1[0]
list1[-1]
list1[3]

25

In [15]:
list1[len(list1)-1]

'Data Science'

### Slicing

In [24]:
list1= [10,20,30,25,15,"Python",'Data Science']
list1[:5]

[10, 20, 30, 25, 15]

In [25]:
string='Python'
string[:8]

'Python'

In [29]:
list1[-7:len(list1)]

[10, 20, 30, 25, 15, 'Python', 'Data Science']

In [30]:
list1[-5:]

[30, 25, 15, 'Python', 'Data Science']

In [31]:
list1[::2]

[10, 30, 15, 'Data Science']

### Check items in list

In [32]:
city_names=['Pune',"Nagpur",'Mumbai','Nashik']
'Mumbai' in city_names

True

In [33]:
city_names[2]

'Mumbai'

In [34]:
city_names=['Pune',"Nagpur",'Mumbai','Nashik']
if 'Mumbai' in city_names:
    print('Mumbai is in city names list')
else:
    print('Mumbai is not in city list')

Mumbai is in city names list

In [35]:
city_names=['Pune',"Nagpur",'Mumbai','Nashik']
if 'mumbai' in city_names:
    print('Mumbai is in city names list')
else:
    print('Mumbai is not in city list')

Mumbai is not in city list

In [37]:
city_names=['Pune',"Nagpur",'Mumbai','Nashik']
for i in city_names:
    print(i,type(i))

Pune <class 'str'>
Nagpur <class 'str'>
Mumbai <class 'str'>
Nashik <class 'str'>

### Access items of list using for loop

In [40]:
city_names=['Pune',"Nagpur",'Mumbai','Nashik']

for city in city_names:
    print(city)

Pune
Nagpur
Mumbai
Nashik

In [41]:
city_names=['Pune',"Nagpur",'Mumbai','Nashik']

for city in city_names:
    print(city)
    if city=='Mumbai':
        print('HIIII')

Pune
Nagpur
Mumbai
HIIII
Nashik

In [42]:
city_names=['Pune',"Nagpur",'Mumbai','Nashik']

count=0
for city in city_names:
    print(f'Item in Index {count} is {city}')

Item in Index0 is Pune
Item in Index0 is Nagpur
Item in Index0 is Mumbai
Item in Index0 is Nashik

In [43]:
city_names=['Pune',"Nagpur",'Mumbai','Nashik']

count=0
for city in city_names:
    print(f'Item in Index {count} is {city}')
    count+=1

Item in Index 0 is Pune
Item in Index 1 is Nagpur
Item in Index 2 is Mumbai
Item in Index 3 is Nashik

In [44]:
city_names=['Pune',"Nagpur",'Mumbai','Nashik','Sangli']

for index, city in enumerate(city_names):
    print(f'Item in Index {index} is {city}')

Item in Index 0 is Pune
Item in Index 1 is Nagpur
Item in Index 2 is Mumbai
Item in Index 3 is Nashik

In [45]:
range(0,5) # 0,1,2,3,4

range(0, 5)

In [46]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [48]:
list(range(1,5))

[1, 2, 3, 4]

In [49]:
list(range(5))

[0, 1, 2, 3, 4]

In [53]:
list(range(5,14,3))

[5, 8, 11]

In [56]:
list1=[]
type(list1)

list

In [58]:
city_names=['Pune',"Nagpur",'Mumbai','Nashik']


for i in range(len(city_names)):
    print(f'Item in Index {i} is {city_names[i]}')

Item in Index 0 is Pune
Item in Index 1 is Nagpur
Item in Index 2 is Mumbai
Item in Index 3 is Nashik

In [62]:
for i in range(5):
    print(i)

0
1
2
3
4

### Add items in list

#### 1. append()

In [64]:
city_list=['Pune',"Nagpur",'Mumbai','Nashik']
print(city_list)
city_list.append(1000)
print(city_list)

['Pune', 'Nagpur', 'Mumbai', 'Nashik']
['Pune', 'Nagpur', 'Mumbai', 'Nashik', 1000]

In [65]:
city_list=['Pune',"Nagpur",'Mumbai','Nashik']
print(city_list,len(city_list)) # 4
city_list.append('Aurangabad')
print(city_list, len(city_list)) # 5

['Pune', 'Nagpur', 'Mumbai', 'Nashik'] 4
['Pune', 'Nagpur', 'Mumbai', 'Nashik', 'Aurangabad'] 5

In [67]:
city_list=['Pune',"Nagpur",'Mumbai','Nashik']
print(city_list,len(city_list)) # 4
city_list.append('Aurangabad')
print(city_list, len(city_list)) # 5
city_list.append(['Kolhapur','Dhule'])
print(city_list, len(city_list)) #6

['Pune', 'Nagpur', 'Mumbai', 'Nashik'] 4
['Pune', 'Nagpur', 'Mumbai', 'Nashik', 'Aurangabad'] 5
['Pune', 'Nagpur', 'Mumbai', 'Nashik', 'Aurangabad', ['Kolhapur', 'Dhule']] 6

#### 2, extend()

In [69]:
city_list=['Pune',"Nagpur",'Mumbai','Nashik']
new_city_list=['Kolhapur','Dhule']
city_list.append(new_city_list)
print(city_list)

['Pune', 'Nagpur', 'Mumbai', 'Nashik', ['Kolhapur', 'Dhule']]

In [70]:
city_list=['Pune',"Nagpur",'Mumbai','Nashik']
new_city_list=['Kolhapur','Dhule']
city_list.extend(new_city_list)
print(city_list)

['Pune', 'Nagpur', 'Mumbai', 'Nashik', 'Kolhapur', 'Dhule']

In [71]:
l1=[1,2,3,4,5]
l2=[4,5,6,7,8]
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 4, 5, 6, 7, 8]

In [72]:
l1=[1,2,3,4,5]
l2=[4,5,6,7,8]
l2.extend(l1)
print(l1)
print(l2)

[1, 2, 3, 4, 5]
[4, 5, 6, 7, 8, 1, 2, 3, 4, 5]

In [73]:
set(l2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [74]:
l1=[1,2,3,4,5]
l2=[4,5,6,7,8]
l3=l1+l2
print(l1)
print(l2)
print(l3)

[1, 2, 3, 4, 5]
[4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 4, 5, 6, 7, 8]

#### 3. insert()

In [ ]:
insert(index, value)

In [75]:
l1 =[3,4,5,6]
l1.append(100)
l1

[3, 4, 5, 6, 100]

In [76]:
l1=[3,4,5,6]
l1.insert(2, 100)
l1

[3, 4, 100, 5, 6]

In [77]:
l1=[3,4,5,6]
l1.insert(-1, 100)
l1

[3, 4, 5, 100, 6]

In [78]:
l1=[3,4,5,6]
l1.insert(-2, 100)
l1

[3, 4, 100, 5, 6]

### Delete Items

In [ ]:
1. remove
2. pop
3. clear
4. del

#### 1. remove()

In [ ]:
list1.remove(item)
It removes only first occurence of element in list

In [80]:
l1=[1,2,3,4,5,6,67,5,8,9]
l1.remove(5)
l1

[1, 2, 3, 4, 6, 67, 5, 8, 9]

In [81]:
l1=[1,2,3,4,5,6,67,5,8,9]
l1.remove(1)
l1

[2, 3, 4, 5, 6, 67, 5, 8, 9]

In [82]:
cities=['Pune', 'Nagpur', 'Mumbai', 'Nashik', 'Kolhapur', 'Dhule']
cities.remove('Dhule')
cities

['Pune', 'Nagpur', 'Mumbai', 'Nashik', 'Kolhapur']

In [83]:
cities=['Pune', 'Nagpur', 'Mumbai','Mumbai', 'Nashik', 'Kolhapur', 'Dhule']
cities.remove('Mumbai')
cities

['Pune', 'Nagpur', 'Mumbai', 'Nashik', 'Kolhapur', 'Dhule']

In [89]:
cities=['Pune', 'Nagpur', 'Mumbai','Mumbai', 'Nashik', 'Kolhapur', 'Dhule']
print(cities)
l1=list(set(cities))
print(l1)
l1.remove('Mumbai')
l1

['Pune', 'Nagpur', 'Mumbai', 'Mumbai', 'Nashik', 'Kolhapur', 'Dhule']
['Nashik', 'Kolhapur', 'Nagpur', 'Mumbai', 'Pune', 'Dhule']

['Nashik', 'Kolhapur', 'Nagpur', 'Pune', 'Dhule']

In [90]:
l1=[1,2,3,4,5,6,7,2,4,2,3,4]
if 8 in l1: # False
    l1.remove(8)
print(l1, len(l1))

[1, 2, 3, 4, 5, 6, 7, 2, 4, 2, 3, 4] 12

In [91]:
l1=[1,2,3,4,5,6,7,2,4,2,3,4]
if 3 in l1: # True
    l1.remove(3)
print(l1, len(l1))

[1, 2, 4, 5, 6, 7, 2, 4, 2, 3, 4] 11

In [92]:
cities=['Pune', 'Nagpur', 'Mumbai','Mumbai', 'Nashik', 'Kolhapur', 'Dhule']
if 'Pune' in cities:
    cities.remove('Pune')
print(cities, len(cities))

['Nagpur', 'Mumbai', 'Mumbai', 'Nashik', 'Kolhapur', 'Dhule'] 6