### String Slicing

string[start_index(included) : end_index(exclude) : step_size] #step size is optional 
Default start_index >> 0
Default end_index >> Length of the string
default step_size >> 1
step_size is positive >> left to right
step_size is negative >> right to left

In [1]:
s='machine'
s[1:3]

'ac'

In [2]:
s[:3]

'mac'

In [3]:
s[3:]

'hine'

In [4]:
str1 = 'Machine Learning'
str1[:7]

'Machine'

In [5]:
str1[:8]

'Machine '

In [6]:
str1[8:]

'Learning'

In [12]:
str2='Data Science and machine learning'
len(str2)

33

In [15]:
str1[1:len(str2)] #str1[1:12]

'ata Science and'

In [14]:
a='string' # 6
a[9]

IndexError: string index out of range

In [17]:
str1[len(str2)-5:len(str2)]

''

In [16]:
len(str2)

33

In [22]:
str1[:]

'Machine Learning'

In [23]:
str1[1:8]

'achine '

In [24]:
str1[1:8:1]

'achine '

In [25]:
str1[1:8:2]

'ahn '

In [27]:
str1[::2]

'McieLann'

In [34]:
str1[::3]

'Mheeng'

In [37]:
str1

'Machine Learning'

In [39]:
str1[4:1]

''

### String Slicing with Negative Indexing

In [1]:
str1='Velocity Classes'
len(str1)

16

In [41]:
str1[1:5]

'eloc'

In [44]:
str1[-7:-1]

'Classe'

In [45]:
str1[-7:-10]

''

### Reverse the string

In [47]:
str1[-7:-1:-1]

''

In [48]:
str1[::-1]

'sessalC yticoleV'

In [49]:
str1

'Velocity Classes'

In [2]:
str1[:8:-1]

'sessalC'

In [4]:
str1[-1:8:1]

''

In [3]:
str1[-1:8:-1]

'sessalC'

In [5]:
str1

'Velocity Classes'

In [8]:
str1[8:-12:-1]

' yti'

In [56]:
str1[-8::-1]

' yticoleV'

In [57]:
str1

'Velocity Classes'

In [60]:
str1[:8:-1]

'sessalC'

In [62]:
str1[8::-1]

' yticoleV'

In [69]:
str1[::-3]

'ssCtoV'

In [65]:
str1

'Velocity Classes'

In [70]:
str1[8:]

' Classes'

### Adding of String

In [71]:
s1 = 'Python'
s2 = 'Data Science'
print(type(s1))
print(type(s2))

<class 'str'>
<class 'str'>

In [72]:
s1 = s1 + ' '
s1

'Python '

In [73]:
del s1[-1]

TypeError: 'str' object doesn't support item deletion

In [75]:
s1 = 'Python'
s2 = 'Data Science'
s1 = s1 + ' ' +'ABC'
s1

'Python ABC'

In [76]:
s1- 'on'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [77]:
s3 = s1 +s2
s3

'Python ABCData Science'

In [9]:
s1 = 'Python'
s2 = 'Data Science'
s4 = s1 * 3
s4

'PythonPythonPython'

In [10]:
s1*2.5

TypeError: can't multiply sequence by non-int of type 'float'

In [81]:
s1 +s1

'PythonPython'

concatination >> Addition

In [88]:
s = 'python'
a = s[-1] + s[1:len(s)-1] + s[0]
print(a)

nythop

In [85]:
s[1:-1]

'ytho'

In [86]:
s[1:len(s)-1]

'ytho'

In [87]:
s[1:5]

'ytho'

### String Casting

In [98]:
string = input()

Data

In [97]:
str1 = input('Enter a value for str1: ') 
str1    # Data type of variable will be string

Enter a value for str1: Concat

'Concat'

In [99]:
type(str1)

str

In [100]:
str2= input('Enter a number: ')

Enter a number: 12

In [101]:
type(str2)

str

In [102]:
str3 = '1234'
a = int(str3)
print(f'Value of a is {a} and its datatype is {type(a)}')

Value of a is 1234 and its datatype is <class 'int'>

In [103]:
type(a)

int

In [104]:
str3 = '1234.34'
a = int(str3)
print(f'Value of a is {a} and its datatype is {type(a)}')

ValueError: invalid literal for int() with base 10: '1234.34'

In [105]:
str3 = '1234.34'
a = float(str3)
print(f'Value of a is {a} and its datatype is {type(a)}')

Value of a is 1234.34 and its datatype is <class 'float'>

In [106]:
str3 = '1234'
a = float(str3)
print(f'Value of a is {a} and its datatype is {type(a)}')

Value of a is 1234.0 and its datatype is <class 'float'>

In [107]:
str3 = '1234'
a = int(str3)
print(f'Value of a is {a} and its datatype is {type(a)}')
print(a+1000)

Value of a is 1234 and its datatype is <class 'int'>
2234

In [109]:
str3 = '1234.34'
a = round(str3)
print(f'Value of a is {a} and its datatype is {type(a)}')

TypeError: type str doesn't define __round__ method

### 1. string to int

In [11]:
string ='1000'
a = int(string)
print(f'Value of a is {a} and its datatype is {type(a)}')

Value of a is 1000 and its datatype is <class 'int'>

In [12]:
type(string)

str

### 2. string to float

In [13]:
string ='45.86'
print(type(string))
a = float(string)
print(f'Value of a is {a} and its datatype is {type(a)}')

<class 'str'>
Value of a is 45.86 and its datatype is <class 'float'>

In [14]:
string ='45'
print(type(string))
a = float(string)
print(f'Value of a is {a} and its datatype is {type(a)}')

<class 'str'>
Value of a is 45.0 and its datatype is <class 'float'>

In [16]:
string ='45.86'
print(type(string))
string=float(string)
a = int(string)
print(f'Value of a is {a} and its datatype is {type(a)}')

<class 'str'>
Value of a is 45 and its datatype is <class 'int'>

### 3. int to string

In [18]:
a = 90
print(type(a))
a = str(a)
print(f'Value of a is {a} and its datatype is {type(a)}')

<class 'int'>
Value of a is 90 and its datatype is <class 'str'>

### 4. float to string

In [19]:
a = 100.6
print(type(a))
a = str(a)
print(f'Value of a is {a} and its datatype is {type(a)}')

<class 'float'>
Value of a is 100.6 and its datatype is <class 'str'>

In [21]:
x = input('Enter a value of X: ') #10
y = input('Enter a value of Y: ') #20 
print(x, y) #10 20

add = x+y
print(f'Addition of {x} and {y} is {add}')

Enter a value of X: 10
Enter a value of Y: 20
10 20
Addition of 10 and 20 is 1020

In [22]:
x = int(input('Enter a value of X: ')) #10
y = int(input('Enter a value of Y: ')) #20 
print(x, y) #10 20

add = x+y
print(f'Addition of {x} and {y} is {add}')

Enter a value of X: 10
Enter a value of Y: 20
10 20
Addition of 10 and 20 is 30

In [23]:
x = float(input('Enter a value of X: ')) #10.5
y = int(input('Enter a value of Y: ')) #20 
print(x, y) #10.5 20

add = x+y
print(f'Addition of {x} and {y} is {add}')

Enter a value of X: 10.5
Enter a value of Y: 20
10.5 20
Addition of 10.5 and 20 is 30.5

In [25]:
a= (1,2)
print(type(a))
b=list(a)
type(b)

<class 'tuple'>

list

# Access String items/ characters

In [ ]:
Indexing #a[1]
Slicing #a[1:8]
for loop

In [ ]:
a[1]
a[1:8]

In [26]:
string = 'Velocity'
string[0]

'V'

In [27]:
string[:4]

'Velo'

In [28]:
for char in string:
    print(char)

V
e
l
o
c
i
t
y

In [31]:
string = 'Velocity'
for variable_name in string:
    print(variable_name, end='+')

V+e+l+o+c+i+t+y+

In [34]:
string = 'Velocity'
for variable_name in string[1:5]:
    print(f'Char is : {variable_name}')

Char is : e
Char is : l
Char is : o
Char is : c

In [36]:
string = 'Velocity'
count = 0
for i in string:
    print(f'Character at index {count} is {string[count]}') #string[0]
    count=count+1 #count+=1

Character at index 0 is V
Character at index 1 is e
Character at index 2 is l
Character at index 3 is o
Character at index 4 is c
Character at index 5 is i
Character at index 6 is t
Character at index 7 is y

In [6]:
string = 'Velocity'
count = 0
for i in string:
    print(f'Character at index {count} is {string[count]}') #string[0]
    count=count+1 #count+=1

Character at index 0 is V
Character at index 1 is e
Character at index 2 is l
Character at index 3 is o
Character at index 4 is c
Character at index 5 is i
Character at index 6 is t
Character at index 7 is y

In [11]:
string = 'Velocity Classes jgvcgzj'
count = 0
for i in string:
    print(f'Character at index {count} is {string[count]}') #string[0]
    count=count+2 #count+=1
    if count == len(string):
        break

Character at index 0 is V
Character at index 2 is l
Character at index 4 is c
Character at index 6 is t
Character at index 8 is
Character at index 10 is l
Character at index 12 is s
Character at index 14 is e
Character at index 16 is
Character at index 18 is g
Character at index 20 is c
Character at index 22 is z

In [41]:
string = 'Velocity'
count = 0
for i in string:
    print(f'Character at index {count} is {i}') #string[0]
    count+=1 #count=count+1

Character at index 0 is V
Character at index 1 is e
Character at index 2 is l
Character at index 3 is o
Character at index 4 is c
Character at index 5 is i
Character at index 6 is t
Character at index 7 is y

In [44]:
string = 'Velocity'
for index, val in enumerate(string):
    print(f'Character at index {index} is {val}')

Character at index 0 is V
Character at index 1 is e
Character at index 2 is l
Character at index 3 is o
Character at index 4 is c
Character at index 5 is i
Character at index 6 is t
Character at index 7 is y

In [45]:
string = 'Machine Learning'
for index, val in enumerate(string):
    print(f'Character at index {index} is {val}')

Character at index 0 is M
Character at index 1 is a
Character at index 2 is c
Character at index 3 is h
Character at index 4 is i
Character at index 5 is n
Character at index 6 is e
Character at index 7 is
Character at index 8 is L
Character at index 9 is e
Character at index 10 is a
Character at index 11 is r
Character at index 12 is n
Character at index 13 is i
Character at index 14 is n
Character at index 15 is g

In [48]:
string ='Data'
for i in string:
    print('Hello', i)

Hello D
Hello a
Hello t
Hello a

In [49]:
string ='Data'
for i in string:
    print('Hello', i, end=' ')

Hello D Hello a Hello t Hello a

# String Formatting

In [ ]:
1. Formatting using format() string method >> .format()
2. Formatting using String literals, f-string >> Leading f-char
3. Formatting with % operator

### 1. format()

In [50]:
string = 'Data'
for index, char in enumerate(string):
    print('Character at index {} is {}'.format(index, char))

Character at index 0 is D
Character at index 1 is a
Character at index 2 is t
Character at index 3 is a

In [51]:
a= 10
b=20
print('addition of {} and {} is {}'.format(a,b,a+b))

addition of 10 and 20 is 30

### 2. f-string

In [52]:
string = 'Data'
for index, char in enumerate(string):
    print(f'Character at index {index} is {char}')

Character at index 0 is D
Character at index 1 is a
Character at index 2 is t
Character at index 3 is a

In [53]:
a= 10
b=20
print(f'addition of {a} and {b} is {a+b}')

addition of 10 and 20 is 30

### 3. Percent Operator (%)

In [ ]:
%d >> int
%f >> float
%s >> str

In [54]:
a=10
b=20
res='Addition of %d and %d is %d'%(a,b,a+b)
print(res)

Addition of 10 and 20 is 30

In [55]:
a=1.5
b=20
res='Addition of %f and %d is %d'%(a,b,a+b)
print(res)

Addition of 1.500000 and 20 is 21

In [56]:
a=1.5
b=20
res='Addition of %f and %d is %f'%(a,b,a+b)
print(res)

Addition of 1.500000 and 20 is 21.500000

In [57]:
a='1.5'
b='20'
res='concat of %s and %s is %s'%(a,b,a+b)
print(res)

concat of 1.5 and 20 is 1.520

### Check String items

In [14]:
data = 'We are learning Data Science'
a='Science' in data

In [ ]:
bool >> True(1), False(0)

In [15]:
type(a)

bool

In [16]:
'science' in data

False

In [17]:
x=100
y=100

x==y

True

In [18]:
x = 100
y = 50

x==y

False

In [19]:
x = 100
y =50
x > y

True

In [20]:
x = 100
y =50
x < y

False

In [21]:
x = 100
y = 50
if x > y: # True
    print('x is greater than y')

x is greater than y

In [25]:
x = 100
y = 50
if x < y: # False
    print('x is greater than y')

else:
    print('y is smaller than x')

y is smaller than x

In [26]:
x = 100
y = 50
if x > y: # True
    print('x is greater than y')

else:
    print('y is smaller than x')

x is greater than y

In [27]:
data = 'We are learning Data Science'
if 'Science' in data:
    print('Yes, Science is present')
else:
    print('No, Science is not present in given string')

Yes, Science is present

In [28]:
data = 'We are learning Data Science'
if 'science' in data:
    print('Yes, Science is present')
else:
    print('No, Science is not present in given string')

No, Science is not present in given string

In [29]:
data = 'We are learning Data Science'
val= 'Science'
if val in data:
    print('Yes, Science is present')
else:
    print('No, Science is not present in given string')

Yes, Science is present