## Dictionary

Dict: Mutable, Insertion order is not preserved, Duplicates not allowed(only key)
    
Python >= 3.6 >> Ordered  
Python <3.6 >> Unordered

dict holds key and value pair  
comma seperated  
dict1= {'key':'value'}  
indexing and slicing are not applicable  

Duplicates not allowed:  
    key >> Immutable Datatype : (int, float, str, tuple) >> Can not be duplicate  
    value >> Any Datatype : (int, float, str, tuple, list , set, dict, array, dataframe) >> Can be Duplicate

In [3]:
s1 = set()
type(s1)

set

In [1]:
d1 = {}
type(d1)

dict

In [2]:
d1 = dict()
type(d1)

dict

In [4]:
d1 = {'Name': 'Virat'}
len(d1)

1

In [5]:
d1

{'Name': 'Virat'}

In [8]:
d1 = {'Name': 'Virat', 'Age': 32}
print(d1,len(d1))

{'Name': 'Virat', 'Age': 32} 2

In [9]:
d1 = {'Name': 'Virat', 'Age': 32, 'Score':183}
print(d1,len(d1))

{'Name': 'Virat', 'Age': 32, 'Score': 183} 3

In [10]:
d1 = {'Name': 'Virat', 'Age': 32, 'Score':183, 100:200}
print(d1,len(d1))

{'Name': 'Virat', 'Age': 32, 'Score': 183, 100: 200} 4

In [11]:
d1 = {'Name': 'Virat', 'Age': 32, 'Score':183, 10.5:200}
print(d1,len(d1))

{'Name': 'Virat', 'Age': 32, 'Score': 183, 10.5: 200} 4

In [12]:
d1 = {'Name': ['Virat','Rohit'], 'Age': 32, 'Score':183, 100:200}
print(d1,len(d1))

{'Name': ['Virat', 'Rohit'], 'Age': 32, 'Score': 183, 100: 200} 4

In [13]:
d1 = {'Name': ('Virat','Rohit'), 'Age': 32, 'Score':183, 100:200}
print(d1,len(d1))

{'Name': ('Virat', 'Rohit'), 'Age': 32, 'Score': 183, 100: 200} 4

In [14]:
d1 = {'Name': {'Player_name':'Rohit'}, 'Age': 32, 'Score':183, 100:200}
print(d1,len(d1))

{'Name': {'Player_name': 'Rohit'}, 'Age': 32, 'Score': 183, 100: 200} 4

### Access Dictionary items

dict[keyname]

In [16]:
employee_data = {'Employee Name': 'Sagar',
                'Salary':50000,
                'Age':30,
                'Company':'Capgemini'}

print(employee_data, len(employee_data))

{'Employee Name': 'Sagar', 'Salary': 50000, 'Age': 30, 'Company': 'Capgemini'} 4

In [17]:
employee_data['Employee Name']

'Sagar'

In [18]:
employee_data['Salary']

50000

In [19]:
employee_data['Company']

'Capgemini'

### get()

In [20]:
employee_data.get('Employee Name')

'Sagar'

In [21]:
employee_data.get('Salary')

50000

### for loop on dictionary

In [22]:
employee_data = {'Employee Name': 'Sagar',
                'Salary':50000,
                'Age':30,
                'Company':'Capgemini'}

#### 1. access keys from dict

In [23]:
for key in employee_data: # Default we will get keys from dict
    print('Key is :',key)

Key is : Employee Name
Key is : Salary
Key is : Age
Key is : Company

In [25]:
for key in employee_data.keys(): 
    print('Key is :',key)

Key is : Employee Name
Key is : Salary
Key is : Age
Key is : Company

In [24]:
employee_data.keys()

dict_keys(['Employee Name', 'Salary', 'Age', 'Company'])

In [27]:
for val in employee_data.values(): 
    print('Key is :',val)

Key is : Sagar
Key is : 50000
Key is : 30
Key is : Capgemini

In [26]:
employee_data.values()

dict_values(['Sagar', 50000, 30, 'Capgemini'])

In [28]:
employee_data.items()

dict_items([('Employee Name', 'Sagar'), ('Salary', 50000), ('Age', 30), ('Company', 'Capgemini')])

In [29]:
for key, val in employee_data.items(): 
    print(f'Key is {key} and Value is {val}')

Key is Employee Name and Value is Sagar
Key is Salary and Value is 50000
Key is Age and Value is 30
Key is Company and Value is Capgemini

In [ ]:
# dict Functions
1. keys()
2. values()
3. items()

### Check items in dictionary

In [32]:
employee_data = {'Employee Name': 'Sagar',
                'Salary':50000,
                'Age':30,
                'Company':'Capgemini'}
if 'Salary' in employee_data:
    print('Salary key is present')
else:
    print('Not present')

Salary key is present

In [33]:
employee_data = {'Employee Name': 'Sagar',
                'Salary':50000,
                'Age':30,
                'Company':'Capgemini'}
if 'Experience' in employee_data:
    print('Salary key is present')
else:
    print('Not present')

Not present

### Change items of dictionary

In [34]:
employee_data = {'Employee Name': 'Sagar',
                'Salary':50000,
                'Age':30,
                'Company':'Capgemini'}
employee_data['Salary'] =60000
employee_data

{'Employee Name': 'Sagar', 'Salary': 60000, 'Age': 30, 'Company': 'Capgemini'}

In [36]:
employee_data = {'Employee Name': 'Sagar',
                'Salary':50000,
                'Age':30,
                'Company':'Capgemini'}
employee_data['Company'] ='TCS'
employee_data

{'Employee Name': 'Sagar', 'Salary': 50000, 'Age': 30, 'Company': 'TCS'}

In [37]:
employee_data = {'Employee Name': 'Sagar',
                'Salary':50000,
                'Age':30,
                'Company':'Capgemini'}
employee_data['Company'] ='TCS'
employee_data['Salary'] = 70000
employee_data

{'Employee Name': 'Sagar', 'Salary': 70000, 'Age': 30, 'Company': 'TCS'}

In [38]:
employee_data = {'Employee Name': 'Sagar',
                'Salary':50000,
                'Age':30,
                'Company':'Capgemini'}
employee_data['Experience'] = '5 years'
employee_data

{'Employee Name': 'Sagar',
 'Salary': 50000,
 'Age': 30,
 'Company': 'Capgemini',
 'Experience': '5 years'}

#### update()

In [39]:
employee_data = {'Employee Name': 'Sagar',
                'Salary':50000,
                'Age':30,
                'Company':'Capgemini'}

new_dict = {'Salary': 70000,
           'Age':31,
           'Company':'TCS'}

employee_data.update(new_dict)
employee_data

{'Employee Name': 'Sagar', 'Salary': 70000, 'Age': 31, 'Company': 'TCS'}

In [40]:
employee_data = {'Employee Name': 'Sagar',
                'Salary':50000,
                'Age':30,
                'Company':'Capgemini'}

employee_data.update({'Company':'TCS'})
employee_data

{'Employee Name': 'Sagar', 'Salary': 50000, 'Age': 30, 'Company': 'TCS'}

In [41]:
employee_data = {'Employee Name': 'Sagar',
                'Salary':50000,
                'Age':30,
                'Company':'Capgemini'}
new= {'Company':'TCS'}
employee_data.update(new)
employee_data

{'Employee Name': 'Sagar', 'Salary': 50000, 'Age': 30, 'Company': 'TCS'}

In [42]:
employee_data = {'Employee Name': 'Sagar',
                'Salary':50000,
                'Age':30,
                'Company':'Capgemini'}
new= {'Experience':'5 years', 'Location':'Pune'}
employee_data.update(new)
employee_data

{'Employee Name': 'Sagar',
 'Salary': 50000,
 'Age': 30,
 'Company': 'Capgemini',
 'Experience': '5 years',
 'Location': 'Pune'}

In [43]:
employee_data = {'Employee Name': 'Sagar',
                'Salary':50000,
                'Age':30,
                'Company':'Capgemini'}
new= {'Experience':'5 years', 'Location':'Pune'}
new.update(employee_data)

print(employee_data, len(employee_data))
print(new ,len(new))

{'Employee Name': 'Sagar', 'Salary': 50000, 'Age': 30, 'Company': 'Capgemini'} 4
{'Experience': '5 years', 'Location': 'Pune', 'Employee Name': 'Sagar', 'Salary': 50000, 'Age': 30, 'Company': 'Capgemini'} 6

### Remove items from dict

In [ ]:
1. pop
2. popitem
3. clear
4. del

In [44]:
employee_data={'Experience': '5 years',
               'Location': 'Pune',
               'Employee Name': 'Sagar',
               'Salary': 50000,
               'Age': 30,
               'Company': 'Capgemini'}
employee_data

{'Experience': '5 years',
 'Location': 'Pune',
 'Employee Name': 'Sagar',
 'Salary': 50000,
 'Age': 30,
 'Company': 'Capgemini'}

#### 1.pop()

In [45]:
employee_data={'Experience': '5 years',
               'Location': 'Pune',
               'Employee Name': 'Sagar',
               'Salary': 50000,
               'Age': 30,
               'Company': 'Capgemini'}

employee_data.pop('Location')
print(employee_data, len(employee_data))

{'Experience': '5 years', 'Employee Name': 'Sagar', 'Salary': 50000, 'Age': 30, 'Company': 'Capgemini'} 5

In [46]:
employee_data.pop('Location')
print(employee_data, len(employee_data))

KeyError: 'Location'

In [47]:
employee_data.pop('Company')
print(employee_data, len(employee_data))

{'Experience': '5 years', 'Employee Name': 'Sagar', 'Salary': 50000, 'Age': 30} 4

In [48]:
marksheet = {'Eng':83, 'Math':73, 'Sci':82}
marksheet.pop('Eng')
marksheet

{'Math': 73, 'Sci': 82}

#### 2. popitem()

Remove last / last inserted item

In [49]:
marksheet = {'Eng':83, 'Math':73, 'Sci':82}
marksheet.popitem()
marksheet

{'Eng': 83, 'Math': 73}

In [50]:
marksheet.popitem()
marksheet

{'Eng': 83}

In [51]:
marksheet.popitem()
marksheet

{}

In [52]:
marksheet.popitem()
marksheet

KeyError: 'popitem(): dictionary is empty'

#### 3. clear()

In [54]:
marksheet = {'Eng':83, 'Math':73, 'Sci':82}
marksheet.clear()
print(marksheet,len(marksheet))

{} 0

#### 4. del

In [55]:
marksheet = {'Eng':83, 'Math':73, 'Sci':82}
del marksheet['Math']
marksheet

{'Eng': 83, 'Sci': 82}

In [56]:
del marksheet['Sci']
marksheet

{'Eng': 83}

In [57]:
del marksheet['Eng']
marksheet

{}

In [58]:
marksheet = {'Eng':83, 'Math':73, 'Sci':82}
del marksheet

In [59]:
marksheet

NameError: name 'marksheet' is not defined

### Nested Dictionary

In [60]:
class_1 = {'Virat':{'Eng':83,
                    'Math':73,
                    'Sci':82},
           
          'Rohit':{'Eng':81,
                   'Math':83,
                   'Sci':88},
           
          'Rahul':{'Eng':89,
                   'Math':81,
                   'Sci':80}}

print(class_1)
print('Length of dict is :',len(class_1))

{'Virat': {'Eng': 83, 'Math': 73, 'Sci': 82}, 'Rohit': {'Eng': 81, 'Math': 83, 'Sci': 88}, 'Rahul': {'Eng': 89, 'Math': 81, 'Sci': 80}}
Length of dict is : 3

In [61]:
class_1['Rahul']

{'Eng': 89, 'Math': 81, 'Sci': 80}

In [62]:
type(class_1['Rahul'])

dict

In [64]:
class_1['Rahul']['Eng']

89

In [65]:
class_1['Virat']['Sci']

82

In [66]:
data= {}
data['Name']='Sagar'
data['Loc']='Pune'
data

{'Name': 'Sagar', 'Loc': 'Pune'}

In [ ]:
sub_names= ['Phy','Che','Math','Eng','Bio']
sub_marks= [93,94,91,95,90]
# {'Phy':93,'Che':94....}

In [67]:
sub_names= ['Phy','Che','Math','Eng','Bio']
sub_marks= [93,94,91,95,90]
d1 = {}
for i in sub_names:
    for j in sub_marks:
        d1[i]=j

print(d1)

{'Phy': 90, 'Che': 90, 'Math': 90, 'Eng': 90, 'Bio': 90}

In [ ]:
d1[]

In [70]:
sub_names= ['Phy','Che','Math','Eng','Bio']
sub_marks= [93,94,91,95,90]
dict1 = {}

for i in range(len(sub_names)):
    dict1[sub_names[i]]=sub_marks[i]
    
print(dict1)

{'Phy': 93, 'Che': 94, 'Math': 91, 'Eng': 95, 'Bio': 90}

In [1]:
sub_names= ['Phy','Che','Math','Eng','Bio']
sub_marks= [93,94,91,95,90]
dict1 = {}

for i,key in enumerate(sub_names):
    dict1[key]=sub_marks[i]
dict1

{'Phy': 93, 'Che': 94, 'Math': 91, 'Eng': 95, 'Bio': 90}

In [2]:
sub_names= ['Phy','Che','Math','Eng','Bio']
sub_marks= [93,94,91,95,90]
dict1 = {}

for i,key in enumerate(sub_names):
    dict1.update({key:sub_marks[i]})
dict1

{'Phy': 93, 'Che': 94, 'Math': 91, 'Eng': 95, 'Bio': 90}

In [3]:
sub_names= ['Phy','Che','Math','Eng','Bio']
sub_marks= [93,94,91,95,90]
dict1 = {}
count=0
for key in sub_names:
    dict1[key]=sub_marks[count]
    count+=1
dict1

{'Phy': 93, 'Che': 94, 'Math': 91, 'Eng': 95, 'Bio': 90}

In [ ]:
dict.fromkeys(seq,value)

In [4]:
sub_names= ['Phy','Che','Math','Eng','Bio']
sub_marks= [93,94,91,95,90]
dict.fromkeys(sub_names)

{'Phy': None, 'Che': None, 'Math': None, 'Eng': None, 'Bio': None}

In [5]:
sub_names= ['Phy','Che','Math','Eng','Bio']
sub_marks= [93,94,91,95,90]
value=86
dict.fromkeys(sub_names,value)

{'Phy': 86, 'Che': 86, 'Math': 86, 'Eng': 86, 'Bio': 86}

In [6]:
sub_names= ['Phy','Che','Math','Eng','Bio']
sub_marks= [93,94,91,95,90]
value=86
dict.fromkeys(sub_names,sub_marks)

{'Phy': [93, 94, 91, 95, 90],
 'Che': [93, 94, 91, 95, 90],
 'Math': [93, 94, 91, 95, 90],
 'Eng': [93, 94, 91, 95, 90],
 'Bio': [93, 94, 91, 95, 90]}

In [7]:
sub_names= ['Phy','Che','Math','Eng','Bio']
sub_marks= [93,94,91,95,90]
dict(zip(sub_names,sub_marks))

{'Phy': 93, 'Che': 94, 'Math': 91, 'Eng': 95, 'Bio': 90}

#### square of 11 to 20 numbers

In [ ]:
{11:121,12:144}

In [8]:
squares={}
for i in range(11,21):
    squares[i]=i**2
print(squares)

{11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

In [18]:
string='''Data science is an interdisciplinary field that uses scientific methods,
processes, algorithms and systems to extract knowledge and insights from noisy, structured
and unstructured data, and apply knowledge and actionable insights from data across a broad
range of application domains.'''

string = string.lower()
result={}
for word in string.split():
    result[word]= string.count(word)
    
print(result)

{'data': 3, 'science': 1, 'is': 3, 'an': 7, 'interdisciplinary': 1, 'field': 1, 'that': 1, 'uses': 1, 'scientific': 1, 'methods,': 1, 'processes,': 1, 'algorithms': 1, 'and': 5, 'systems': 1, 'to': 1, 'extract': 1, 'knowledge': 2, 'insights': 2, 'from': 2, 'noisy,': 1, 'structured': 2, 'unstructured': 1, 'data,': 1, 'apply': 1, 'actionable': 1, 'across': 1, 'a': 26, 'broad': 1, 'range': 1, 'of': 1, 'application': 1, 'domains.': 1}

#### ASCII Values for alphabets

In [14]:
lower_case={}
for i in range(97,123):
    lower_case.update({chr(i):i})
    
print(lower_case)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

In [16]:
upper_case={}
for i in range(65,91):
    upper_case.update({chr(i):i})
    
print(upper_case)

{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79, 'P': 80, 'Q': 81, 'R': 82, 'S': 83, 'T': 84, 'U': 85, 'V': 86, 'W': 87, 'X': 88, 'Y': 89, 'Z': 90}

#### Sort Dictionary using Keys

In [23]:
sub_marks={'Phy': 93, 'Che': 94, 'Math': 91, 'Eng': 95, 'Bio': 90}
new_dict={}
sorted_keys=sorted(sub_marks.keys())

for key in sorted_keys:
    new_dict[key]=sub_marks[key]
    
new_dict

{'Bio': 90, 'Che': 94, 'Eng': 95, 'Math': 91, 'Phy': 93}

In [25]:
sub_marks={'Phy': 93, 'Che': 94, 'Math': 91, 'Eng': 95, 'Bio': 90}
sorted(sub_marks.keys())

['Bio', 'Che', 'Eng', 'Math', 'Phy']

In [24]:
sub_marks={'Phy': 93, 'Che': 94, 'Math': 91, 'Eng': 95, 'Bio': 90}
new_dict={}

for key in sorted(sub_marks.keys()):
    new_dict[key]=sub_marks[key]
    
new_dict

{'Bio': 90, 'Che': 94, 'Eng': 95, 'Math': 91, 'Phy': 93}

In [29]:
sub_marks={'Phy': 93, 'Che': 94, 'Math': 91, 'Eng': 95, 'Bio': 90}
sorted_items= sorted(sub_marks.items())
print(sorted_items)
print(type(sorted_items))
print(dict(sorted_items))

[('Bio', 90), ('Che', 94), ('Eng', 95), ('Math', 91), ('Phy', 93)]
<class 'list'>
{'Bio': 90, 'Che': 94, 'Eng': 95, 'Math': 91, 'Phy': 93}

#### Sort Dictionary using Values

In [32]:
sub_marks={'Phy': 93, 'Che': 94, 'Math': 91, 'Eng': 95, 'Bio': 90}
new_dict={}
for val in sorted(sub_marks.values()):
    for key in sub_marks:
        if sub_marks[key]==val:
            new_dict[key]=val
            
new_dict

{'Bio': 90, 'Math': 91, 'Phy': 93, 'Che': 94, 'Eng': 95}

#### fromkeys

In [ ]:
dict.fromkeys(seq,val) # default val is none

In [33]:
dict.fromkeys(['A','B','C','D'])

{'A': None, 'B': None, 'C': None, 'D': None}

In [34]:
dict.fromkeys(['A','B','C','D'],100)

{'A': 100, 'B': 100, 'C': 100, 'D': 100}

In [35]:
dict.fromkeys(['A','B','C','D'],[100,200,300,400])

{'A': [100, 200, 300, 400],
 'B': [100, 200, 300, 400],
 'C': [100, 200, 300, 400],
 'D': [100, 200, 300, 400]}

In [36]:
alpha=['A','B','C','D']
num=[100,200,300,400]
dict(zip(alpha,num))

{'A': 100, 'B': 200, 'C': 300, 'D': 400}

#### setdefault()

In [ ]:
dict.setdefault()
if key is present it returns corresponding value
if key is not present a key:value pair is added in dict

In [42]:
sub_marks={'Phy': 93, 'Che': 94, 'Math': 91, 'Eng': 95, 'Bio': 90}
sub_marks.setdefault('Math')

91

In [43]:
sub_marks={'Phy': 93, 'Che': 94, 'Math': 91, 'Eng': 95, 'Bio': 90}
sub_marks.setdefault('Che',92)

94

In [44]:
sub_marks={'Phy': 93, 'Che': 94, 'Math': 91, 'Eng': 95, 'Bio': 90}
sub_marks.setdefault('Science')

In [45]:
sub_marks

{'Phy': 93, 'Che': 94, 'Math': 91, 'Eng': 95, 'Bio': 90, 'Science': None}

In [46]:
sub_marks={'Phy': 93, 'Che': 94, 'Math': 91, 'Eng': 95, 'Bio': 90}
sub_marks.setdefault('Science',88)

88

In [47]:
sub_marks

{'Phy': 93, 'Che': 94, 'Math': 91, 'Eng': 95, 'Bio': 90, 'Science': 88}

### Dictionary Functions

1. get()
2. keys()
3. values()
4. items()
5. update()
6. fromkeys()
7. dict(zip())
8. pop()
9. popitem()
10. clear()
11. del
12. setdefault()